@charset "UTF-8";
/* Base style */
@import url(../fonts/stylesheet.css);
/* Gradient li in collapse
*/
.collap-default-body li:nth-child(1) { background: #ff751b; }

.collap-default-body li:nth-child(2) { background: #ff8534; }

.collap-default-body li:nth-child(3) { background: #ff944e; }

.collap-default-body li:nth-child(4) { background: #ffa367; }

.collap-default-body li:nth-child(5) { background: #ffb381; }

.collap-default-body li:nth-child(6) { background: #ffc29a; }

.collap-default-body li:nth-child(7) { background: #ffd2b4; }

.collap-default-body li:nth-child(8) { background: #ffe1cd; }

.collap-default-body li:nth-child(9) { background: #fff0e7; }

.collap-default-body li:nth-child(10) { background: white; }

.collap-default-body.blue li:nth-child(1) { background: #a4c3d6; }

.collap-default-body.blue li:nth-child(2) { background: #b9d1e0; }

.collap-default-body.blue li:nth-child(3) { background: #cedfe9; }

.collap-default-body.blue li:nth-child(4) { background: #e4edf3; }

.collap-default-body.blue li:nth-child(5) { background: #f9fbfc; }

.collap-default-body.blue li:nth-child(6) { background: white; }

.collap-default-body.blue li:nth-child(7) { background: white; }

.collap-default-body.blue li:nth-child(8) { background: white; }

.collap-default-body.blue li:nth-child(9) { background: white; }

.collap-default-body.blue li:nth-child(10) { background: white; }

/* Vertical gradient top-right
*/
/* Vertical gradient bottom-right
*/
/* Base style
*/
* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { background-color: #eeeeee; color: #444; font-family: 'DIN Next LT Pro'; font-size: 13px; font-weight: normal; max-width: 720px; position: relative; }

h1, h2, h3, h4, h5 { font-weight: normal; }

a, button { text-decoration: none; transition: background .3s; }
a:hover, a:active, a:visited, a:focus, button:hover, button:active, button:visited, button:focus { outline: 0 !important; text-decoration: none !important; }

strong { font-weight: bold; }

table { border-collapse: collapse; }

table tr th { font-weight: bold; }
table tr td { font-weight: normal; }

pre { background-color: white; margin: 8px 0; padding: 8px; white-space: pre-line; }

/* Col
*/
.col-12 { min-height: 1px; float: left; width: 100%; }

.col-11 { min-height: 1px; float: left; width: 91.3%; }

.col-10 { min-height: 1px; float: left; width: 83%; }

.col-9 { min-height: 1px; float: left; width: 74.7%; }

.col-8 { min-height: 1px; float: left; width: 66.4%; }

.col-7 { min-height: 1px; float: left; width: 58.1%; }

.col-6 { min-height: 1px; float: left; width: 50%; }

.col-5 { min-height: 1px; float: left; width: 41.5%; }

.col-4 { min-height: 1px; float: left; width: 33.2%; }

.col-3 { min-height: 1px; float: left; width: 25%; }

.col-2 { min-height: 1px; float: left; width: 16.6%; }

.col-1 { min-height: 1px; float: left; width: 8.3%; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-left { text-align: left; }

.pull-left { float: left; }

.pull-right { float: right; }

.clear { clear: both; }

.row:after { clear: both; content: ''; display: block; }

.p-15 { padding: 15px; }

.m-lr-absolute { margin-left: -15px; margin-right: -15px; }

.m-tb-15 { margin-top: 15px; margin-bottom: 15px; }

.m-tb-10 { margin-top: 10px; margin-bottom: 10px; }

.mt-5 { margin-top: 5px; }

.mb-15 { margin-bottom: 15px; }

.img-responsive { width: 100%; }

.button-bottom { bottom: 15px; left: 0px; padding: 0 5%; position: absolute; width: 90%; }

.text-orange { color: #ff6601; }

.text-blue { color: #00539f; }

.text-gray { color: #777; }

.text-i { font-style: italic; }

.text-n { font-style: normal; }

.font-weight-normal { font-weight: normal; }

.text-decoration-u { text-decoration: underline; }

.not-bg { background-color: transparent !important; }

.content { padding: 0 15px; }

.link { color: #555555; margin: 10px 0; display: inline-block; text-decoration: underline; font-weight: normal; }

.nav-bottom-default { margin-bottom: 0 !important; }

.dis-ib, .dashboard-title, .dashboard-menu ul li, .dashboard-block, .mi-cuenta .row, .solicitar-plan a.text-gray, .contacto-table, .contacto-table-row, .tiendas .block-form-group, .error-fecha { display: inline-block; width: 100%; }

.text-lg { font-size: 1.4em; }

.text-md { font-size: 1.2em; }

.text-xs { font-size: .8em; }

.block-white { background-color: white; padding: 15px; }

.zona { color: white; font-style: italic; }
.zona span { color: #00539f; text-transform: uppercase; }

/* Components UI */
/* Components base style
*/
.components h2 { margin-top: 30px; margin-bottom: 10px; }
.components .example-col { margin-bottom: 10px; }
.components .example-col div { border: 1px solid #00539f; display: block; float: initial; }

/* Button
*/
.btn-orange { background-color: #ff6601; border-bottom: 4px solid #c75001; border-radius: 5px; color: white; display: block; font-size: 1.5em; font-weight: normal; padding: 12px 15px 10px 15px; text-align: center; transition: all .3s; }
.btn-orange:hover { background-color: #f66200; border-bottom: 1px solid #c75001; transform: translateY(3px); }

.btn-orange-xs { background-color: #ff6601; border-radius: 4px; color: white !important; font-size: 1em; font-weight: normal; padding: 7px 5px 5px 5px; text-align: center; transition: all .3s; }
.btn-orange-xs:hover { background-color: #f66200; border-bottom: 1px solid #c75001; transform: translateY(3px); }

.btn-blue { background-color: #00539f; border-bottom: 4px solid #033051; border-radius: 5px; color: white; display: block; font-size: 1.5em; font-weight: normal; padding: 12px 15px 10px 15px; text-align: center; transition: all .3s; }
.btn-blue:hover { background-color: #004e95; border-bottom: 1px solid #033051; transform: translateY(3px); }

/* Nav
*/
.nav { margin-bottom: 20px; box-shadow: 0 1px 12px rgba(0, 0, 0, 0.15); }
.nav .nav-top { background: url("../img/img-body-bg.png") center top no-repeat; background-size: cover; height: 45px; }
.nav .nav-top-arrow-left { float: left; }
.nav .nav-top-arrow-left a { display: block; height: 45px; width: 45px; }
.nav .nav-top-arrow-left a img { margin: 15px 0 0 18px; }
.nav .nav-top-block-title { color: white; float: left; font-size: 1.6em; font-weight: normal; padding-top: 13px; text-align: center; width: calc(100% - 90px); }
.nav .nav-bottom { background-color: white; height: 45px; }
.nav .nav-bottom-title { color: #ff6601; height: 45px; font-size: 1.1em; font-weight: 300; line-height: 3.2em; text-align: center; }
.nav .nav-bottom-dropdown { padding-top: 6px; }
.nav .nav-bottom-dropdown .dropdown { right: 15px; }

/* Dropdown
*/
.dropdown { position: absolute; width: 160px; background-color: #f0f0f0; height: 33px; }
.dropdown span { border-radius: 3px; color: #797979; display: block; font-size: 1.1em; font-weight: 300; height: 45px; padding-left: 15px; padding-right: 15px; position: relative; line-height: 2.3em; }
.dropdown span:after { content: ''; position: absolute; right: 0; top: 0; z-index: 9; background: #d8d8d8 url("../img/btn-arrow-down.png") center no-repeat; height: 33px; width: 35px; }
.dropdown span:hover { cursor: pointer; }
.dropdown span.active:after { content: ''; position: absolute; right: 0; top: 0; z-index: 12345; background: #d8d8d8 url("../img/btn-arrow-up.png") center no-repeat; height: 33px; width: 35px; }
.dropdown .dropdown-button.active { border-color: #546085; }
.dropdown .dropdown-list { position: absolute; top: 100%; left: 0; width: 100%; display: none; z-index: 9999; max-height: 240px; padding-left: 0; }
.dropdown .dropdown-list li { list-style: none; font-size: 1.2em; padding: 12px 15px; background-color: #e4e4e4; color: #797979; -webkit-transition: color 0.2s ease-in-out; -moz-transition: color 0.2s ease-in-out; -o-transition: color 0.2s ease-in-out; -ms-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out; }

/* Tabs
*/
.tabs { display: inline-block; width: 100%; }
.tabs ul { border-bottom: 1px solid #ff6601; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-flow: row wrap; justify-content: space-around; }
.tabs ul li { order: 1; flex: 1 auto; list-style-type: none; text-align: center; }
.tabs ul li a { color: #85a1ba; padding: 12px; flex: 1 auto; display: block; }
.tabs ul li a.selected { color: #00539f; border-bottom: 8px solid #ff6601; font-weight: normal; }
.tabs-data { padding: 15px; display: inline-block; }

/* Accordion
*/
.collap-table-head.open a { height: auto; background: white url("../img/icon-accordion.png") 0px -20px no-repeat; background-position-x: 98%; }
.collap-table-head a { background: white url("../img/icon-accordion.png") 0px 10px no-repeat; background-position-x: 98%; border: 1px solid #00539f; color: #00539f; padding: 10px; margin: 4px 0; display: block; transition: all 0s; }
.collap-table-body { height: auto; overflow: hidden; padding: 10px 15px; transition: all .3s; }

.collap-default-head.open a:after { height: auto; background: url("../img/icon-collap-circle.png") 0px -22px no-repeat; }
.collap-default-head a { color: #555555; padding: 0; margin: 4px 0; display: inline-block; transition: all 0s; position: relative; }
.collap-default-head a:after { content: ''; background: url("../img/icon-collap-circle.png") 0 0 no-repeat; position: absolute; min-height: 20px; width: 20px; right: -25px; top: -2px; }
.collap-default-body { height: auto; overflow: hidden; padding: 0; transition: all .3s; }

/* Form group > input + label
*/
.form-group { margin-bottom: 5px; }
.form-group label, .form-group p { padding: 5px 10px; font-weight: normal; }
.form-group input { border-radius: 7px; border: 0px solid; font-size: 1em; min-height: 30px; padding: 5px 3%; width: 94%; }
.form-group p { font-size: .8em; }

select.form-control { background-color: white; border-radius: 7px; border: 0px solid; font-size: 1em; min-height: 40px; padding: 5px 3%; width: 100%; }

/* Checkbox switch
*/
.switch__container { margin: 30px auto; width: 90px; position: relative; }
.switch__container span.on { position: absolute; top: 22px; left: -5px; font-size: 1.6em; color: white; z-index: 9; }
.switch__container span.off { position: absolute; top: 22px; right: 10px; font-size: 1.6em; color: white; z-index: 9; }
.switch__container .switch { visibility: hidden; position: absolute; margin-left: -9999px; }
.switch__container .switch + label { display: block; position: relative; cursor: pointer; outline: none; user-select: none; }

.switch--shadow + label { padding: 2px; width: 120px; height: 60px; background-color: #dddddd; border-radius: 60px; }

.switch--shadow + label:before, .switch--shadow + label:after { display: block; position: absolute; top: 1px; left: 1px; bottom: 1px; content: ""; }

.switch--shadow + label:before { right: 1px; background-color: #bbb; border-radius: 60px; transition: background 0.4s; }

.switch--shadow + label:after { width: 62px; background-color: #fff; border-radius: 100%; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); transition: all 0.4s; z-index: 11; }

.switch--shadow:checked + label:before { background-color: #ff6601; }

.switch--shadow:checked + label:after { transform: translateX(60px); }

/* Steps
*/
.steps { background-color: #00539f; font-size: 1.6em; font-weight: 300; padding: 6px 15px 2px 15px; }
.steps-title { color: white; }
.steps a { color: #033051; padding: 0 18px; }
.steps a.active { color: white; }

/* Block planes
*/
.block-planes .block-blue { border: 1px solid #00539f; background-color: white; color: #00539f; padding: 5px; width: 100%; }
.block-planes .block-blue.fijo { background: white url("../img/img-dollar-sign-blue.png") left bottom no-repeat; min-height: 60px; }
.block-planes .block-blue.fijo .text-blue { font-size: 2.4em; font-weight: bold; }
.block-planes .block-blue.fijo .text-xs { font-size: .8em; }
.block-planes .block-blue.cuota { background: white url("../img/img-smartphone-blue.png") left bottom no-repeat; min-height: 94px; }
.block-planes .block-gray { border: 1px solid #888; background-color: white; color: #888; padding: 5px; text-align: center; width: 100%; }

/* Slide arrow left right blue
*/
.slide { display: inline-block; width: 100%; }
.slide .btn-left { float: left; padding-top: 14%; width: 12%; }
.slide .btn-right { float: right; padding-top: 14%; width: 12%; }
.slide .btn-arrow { display: inline-block; height: 79px; padding-top: 12%; opacity: .6; transition: opacity .3s; width: 27px; }
.slide .btn-arrow:hover { opacity: 1; }
.slide .btn-arrow.btn-arrow-left { background: url("../img/icon-slide-arrow.png") 0 0 no-repeat; }
.slide .btn-arrow.btn-arrow-right { background: url("../img/icon-slide-arrow.png") -27px 0 no-repeat; float: right; }
.slide-body { width: 76%; float: left; }
.slide-body .table { width: 100%; }
.slide #slides { overflow: hidden; position: relative; }
.slide #slides .box { position: relative; margin: 0; padding: 0; }
.slide #slides .table { float: left; }

/* Progressbar
*/
.progressbar .progressbar-bar { border: 3px solid #757575; height: 40px; position: relative; background-color: #ff6601; transition: all .5s; }
.progressbar .progressbar-bar .metric { background: url("../img/img-progressbar-bg.png") left top no-repeat; background-size: contain; position: absolute; height: 40px; width: 100%; z-index: 123; }
.progressbar .progressbar-bar .level { background-color: #eeeeee; float: right; height: 100%; position: relative; width: 0%; transition: width ease-in 1s; -webkit-transition: width ease-in 1s; -moz-transition: width ease-in 1s; -o-transition: width ease-in 1s; }
.progressbar .progressbar-bar .level:after { content: ''; background: url("../img/icon-progressbar-triangle.svg") left top no-repeat; height: 25px; width: 14px; left: -8px; position: absolute; z-index: 123123; bottom: -6px; }

/* Table th white
*/
.table-th-white { width: 100%; }
.table-th-white tr:last-child td { border-bottom: 0px solid; }
.table-th-white th { background-color: white; border: 1px solid #ff6601; padding: 10px; color: #00539f; text-align: left; font-weight: normal; }
.table-th-white td { border-bottom: 1px solid #ff6601; padding: 10px; }

/* Input checkbox / radio
*/
input[type=checkbox]:not(old), input[type=radio]:not(old) { width: 2em; margin: 0; padding: 0; font-size: 1em; opacity: 0; }

input[type=checkbox]:not(old) + label, input[type=radio]:not(old) + label { display: inline-block; margin-left: -2em; line-height: 1.5em; }

input[type=checkbox]:not(old) + label > span, input[type=radio]:not(old) + label > span { display: inline-block; width: 0.875em; height: 0.875em; margin: 0.25em 0.5em 0.25em 0.25em; border: 0.0625em solid #888; border-radius: 0.25em; background: #e0e0e0; background-image: -moz-linear-gradient(#f0f0f0, #e0e0e0); background-image: -ms-linear-gradient(#f0f0f0, #e0e0e0); background-image: -o-linear-gradient(#f0f0f0, #e0e0e0); background-image: -webkit-linear-gradient(#f0f0f0, #e0e0e0); background-image: linear-gradient(#f0f0f0, #e0e0e0); vertical-align: bottom; }

input[type=radio]:not(old) + label > span { border-radius: 50% !important; }

input[type=checkbox]:not(old):checked + label > span, input[type=radio]:not(old):checked + label > span { background-image: -moz-linear-gradient(#e0e0e0, #f0f0f0); background-image: -ms-linear-gradient(#e0e0e0, #f0f0f0); background-image: -o-linear-gradient(#e0e0e0, #f0f0f0); background-image: -webkit-linear-gradient(#e0e0e0, #f0f0f0); background-image: linear-gradient(#e0e0e0, #f0f0f0); }

input[type=checkbox]:not(old):checked + label > span:before { content: '✓'; display: block; width: 1em; color: #555555; font-size: 0.875em; line-height: 1.3em; text-align: center; text-shadow: 0 0 0.0714em #555555; font-weight: bold; }

input[type=radio]:not(old):checked + label > span > span { display: block; width: 0.5em; height: 0.5em; margin: 0.1em; border: 0.0625em solid #ff6601; border-radius: 50%; background: #ff6601; }

/* Modal
*/
#screen, #modal { display: none; position: fixed; }

.modal-screen { display: none; }

#screen { width: 100%; height: 100%; z-index: 10; top: 0; left: 0; }
#screen .block-close { height: 50px; position: relative; }
#screen .block-close .close { background: url("../img/icon-modal-close.png") 0 no-repeat; height: 31px; width: 31px; position: absolute; top: 20px; right: 0; z-index: 22; }
#screen .modal-content { background: rgba(98, 98, 98, 0.97); color: white; padding: 0 15px; height: 100%; overflow: auto; }

#modal { width: 33.333%; top: 20%; left: 33.3333%; background: white; z-index: 30; }

/* Slider
*/
.modal-style .bx-wrapper .bx-controls-direction a { bottom: -40px; top: initial !important; }
.modal-style .bx-wrapper .bx-pager.bx-default-pager a { border: 1px solid #ddd !important; }
.modal-style .bx-wrapper .bx-pager.bx-default-pager a.active { background: #ddd !important; }
.modal-style .bx-wrapper .bx-controls-direction a { height: 24px; width: 24px; }
.modal-style .bx-wrapper .bx-controls-direction .bx-prev { background: url("../img/img-carrousel-arrow.png") 0 0 no-repeat; }
.modal-style .bx-wrapper .bx-controls-direction .bx-next { background: url("../img/img-carrousel-arrow.png") -24px 0 no-repeat; }

/* Highchart Graph
*/
.cont-graf { position: relative; width: 150px; height: 140px; padding-top: 20px; }
.cont-graf .icon-circle { position: absolute; top: 75px; text-align: center; margin: 0px auto; left: -0.5%; right: 0px; background: #ff6601; border-radius: 50%; height: 32px; width: 32px; }
.cont-graf .icon-circle img { position: absolute; top: 5px; left: 6px; }
.cont-graf .container { width: 100%; margin: 0px auto; }
.cont-graf .porcentajes { width: 100%; margin: 0px auto; max-width: 150px; position: absolute; right: 0; left: 0; top: 100px; }
.cont-graf .porcentajes span:first-child { float: left; }
.cont-graf .porcentajes span { color: #015BAD; display: block; font-size: 13px; float: right; }

/* Views */
.login { background: url("../img/img-login-bg.png") left top no-repeat; background-size: cover; height: 100%; padding: 15px 0; }
.login.nav { padding-top: 0 !important; background-image: none; padding-bottom: 0; margin-bottom: 0; height: initial; }
.login.nav .nav-top-block-title { width: 100% !important; }
.login.recovery { background: url("../img/img-body-bg.png") left top no-repeat; background-size: cover; }
.login.recovery .form-group { margin-top: 30px; }
.login.recovery .registry-app { background-color: #00539f; margin-top: 35px; padding-bottom: 40px; }
.login.recovery .registry-app a.btn-orange { margin-top: 50px; }
.login-registry { background: url("../img/img-body-bg-white.png") left -300px no-repeat; height: 100%; }
.login-registry .img-congratulations { display: block; }
.login-head { margin-bottom: 15px; }
.login-head .logo { margin-bottom: 70px; }
.login-head-access { display: inline-block; text-align: right; width: 100%; }
.login-head-access a { color: white; text-decoration: underline; }
.login-head-access a:first-child { margin: 0 10px; }
.login-head h2 { text-align: center; color: white; }
.login-head h2.margin-top { padding-top: 50px; margin-bottom: 20px; }
.login-form { display: inline-block; width: 100%; color: white; }

.dashboard-title { margin-bottom: 10px; }
.dashboard-title-name { padding-top: 7px; padding-left: 10px; font-size: 1.4em; color: #aaa; }
.dashboard-title-name .text-orange { font-size: 1.2em; }
.dashboard-menu ul { margin-left: -15px; margin: -15px; }
.dashboard-menu ul li { display: table; padding: 10px 15px; list-style-type: none; border-bottom: 1px solid #bbb; }
.dashboard-menu ul li:nth-child(even) { background-color: white; }
.dashboard-menu ul li .pt { color: #666; padding-top: 10px; }
.dashboard-btns-round { text-align: center; }
.dashboard-btns-round a { margin: 25px; display: inline-block; }
.dashboard-block { border: 1px solid #ccc; color: white; text-align: center; }
.dashboard-block.block-1 { background: #001c85; background: -moz-linear-gradient(50, #001c85 0%, #001c85 49%, #02269e 50%, #02269e 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #001c85), color-stop(49%, #001c85), color-stop(50%, #02269e), color-stop(100%, #02269e)); background: -webkit-linear-gradient(50, #001c85 0%, #001c85 49%, #02269e 50%, #02269e 100%); background: -o-linear-gradient(50, #001c85 0%, #001c85 49%, #02269e 50%, #02269e 100%); background: -ms-linear-gradient(50, #001c85 0%, #001c85 49%, #02269e 50%, #02269e 100%); background: linear-gradient(50, #001c85 0%, #001c85 49%, #02269e 50%, #02269e 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); height: 155px; padding-top: 35px; }
.dashboard-block.block-2 { height: 60px; padding-top: 10px; }
.dashboard-block.block-2 .text-i { font-size: .85em; padding-top: 5px; display: block; }
.dashboard-block.block-3 { padding-top: 10px; height: 40px; }
.dashboard-block.block-border { border-radius: 0 0 20px 0; }
.dashboard-block.bg-azul-2 { background: #074bac; background: -moz-linear-gradient(50, #074bac 0%, #074bac 49%, #074fb5 50%, #074fb5 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #074bac), color-stop(49%, #074bac), color-stop(50%, #074fb5), color-stop(100%, #074fb5)); background: -webkit-linear-gradient(50, #074bac 0%, #074bac 49%, #074fb5 50%, #074fb5 100%); background: -o-linear-gradient(50, #074bac 0%, #074bac 49%, #074fb5 50%, #074fb5 100%); background: -ms-linear-gradient(50, #074bac 0%, #074bac 49%, #074fb5 50%, #074fb5 100%); background: linear-gradient(50, #074bac 0%, #074bac 49%, #074fb5 50%, #074fb5 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }
.dashboard-block.bg-azul-3 { background-color: #1D79C5; }
.dashboard-block.bg-zona { background-color: #ff6601; font-size: 1.5em; display: table; padding-top: 14px; }

.consumo-head { padding: 0 15px 0px 15px; }
.consumo h3 { color: #00539f; margin-bottom: 10px; }
.consumo h3 span { color: #999; font-size: .8em; float: right; }
.consumo .progressbar { margin-bottom: 15px; }
.consumo .progressbar-bar { margin-bottom: 3px; }
.consumo .progressbar span { color: #ff6601; }
.consumo .progressbar span:last-child { float: right; }
.consumo .row { display: flex; width: 100%; }
.consumo .row .p-15 { width: 100%; }
.consumo .row.odd { background-color: #ddd; }
.consumo .row .consumo-bolsas { padding: 0 10px; }
.consumo .row .consumo-bolsas h3 { font-weight: bold; margin: 5px 0; }
.consumo-footer { padding: 15px; }
.consumo-footer .block-footer .margin { margin: 20px 0; }
.consumo-footer a { position: relative; }
.consumo-footer a .plus { position: absolute; right: -30px; top: -3px; height: 20px; width: 20px; }
.consumo .collap-default .collap-default-head { padding: 10px; }
.consumo .collap-default .collap-default-body { padding: 0; }
.consumo .collap-default .collap-default-body li { color: white; padding: 10px; list-style-type: none; }
.consumo .collap-default .collap-default-body li strong, .consumo .collap-default .collap-default-body li .text-xs { margin: 7px 0; }
.consumo .collap-default .collap-default-body li a { text-decoration: underline; color: white; font-weight: normal; font-size: 1.1em; margin: 10px 0; }

.mi-cuenta { padding: 0 12px; }
.mi-cuenta .padd { padding: 3px; }
.mi-cuenta .total { background: white; min-height: 128px; }
.mi-cuenta .fijo { background: white; }
.mi-cuenta .excedido { background: white; }
.mi-cuenta .block-orange { color: #666; border: 1px solid #ff6601; background-color: white; font-size: 1.1em; padding: 15px; width: 100%; }
.mi-cuenta .block-orange .text-orange { font-size: 2.5em; font-weight: bold; }
.mi-cuenta .block-orange .text-xs { font-size: .8em; }
.mi-cuenta .block-orange .center { padding-top: 35px; }
.mi-cuenta .block-blue { border: 1px solid #00539f; background-color: white; color: #00539f; padding: 5px; width: 100%; }
.mi-cuenta .block-blue.text-sm { font-size: .95em; }
.mi-cuenta .block-gray { border: 1px solid #888; background-color: white; color: #888; margin-bottom: 6px; padding: 5px; text-align: center; width: 100%; }
.mi-cuenta .block-gray.text-sm { font-size: .95em; }
.mi-cuenta .text-2 { font-size: 1.1em; font-weight: bold; }
.mi-cuenta .text-3 { font-size: 1.4em; font-weight: bold; }
.mi-cuenta-footer { display: inline-block; margin: 25 px 0; width: 100%; }

.mi-cuenta-summary { border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; padding: 15px; color: #00539f; }
.mi-cuenta-summary span { float: right; font-weight: bold; font-size: 1.3em; margin-top: -2px; }

.section-pay { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-wrap: wrap-reverse; justify-content: center; }
.section-pay a { margin: 4px 4px 0px 4px; width: 84px; }

.mi-cuenta-paid .block-orange { padding: 5px; color: #ff6601; }
.mi-cuenta-paid .total p { font-size: 1.2em; padding-top: 40px; }
.mi-cuenta-paid .p-50 { padding-top: 14px; padding-bottom: 13px; }

.mi-plan { padding: 15px 12px; }
.mi-plan-title { color: #00539f; font-weight: normal; margin-top: -12px; margin-bottom: 15px; text-align: center; }
.mi-plan-title-second { font-weight: normal; color: #00539f; }
.mi-plan .mt-5 { margin-top: 5px; }
.mi-plan .padd { padding: 3px; }
.mi-plan .fijo { background: white url("../img/img-dollar-sign-blue.png") left bottom no-repeat; min-height: 60px; color: #00539f; }
.mi-plan .fijo .text-blue { font-size: 2.4em; font-weight: bold; }
.mi-plan .fijo .text-xs { font-size: .8em; }
.mi-plan .fijo.bg-grad { color: white !important; min-height: 45px !important; padding-top: 15px !important; background: #B0C6DB; background: -moz-linear-gradient(45deg, #B0C6DB 0%, #B0C6DB 49%, #A7C0D7 50%, #A7C0D7 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #B0C6DB), color-stop(49%, #B0C6DB), color-stop(50%, #A7C0D7), color-stop(100%, #A7C0D7)); background: -webkit-linear-gradient(45deg, #B0C6DB 0%, #B0C6DB 49%, #A7C0D7 50%, #A7C0D7 100%); background: -o-linear-gradient(45deg, #B0C6DB 0%, #B0C6DB 49%, #A7C0D7 50%, #A7C0D7 100%); background: -ms-linear-gradient(45deg, #B0C6DB 0%, #B0C6DB 49%, #A7C0D7 50%, #A7C0D7 100%); background: linear-gradient(45deg, #B0C6DB 0%, #B0C6DB 49%, #A7C0D7 50%, #A7C0D7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }
.mi-plan .fijo.bg-grad .text-blue { color: white !important; }
.mi-plan .cuota { padding-top: 13px !important; background-color: white; min-height: 84px; }
.mi-plan .cuota.movil { background: white url("../img/img-smartphone-blue.png") left bottom no-repeat; }
.mi-plan .cuota.movil .text-3, .mi-plan .cuota.movil .text-4 { color: #00539f; }
.mi-plan .cuota.tel-fijo { background: white url("../img/img-agenda-fijo.png") left bottom no-repeat !important; }
.mi-plan .cuota.tv { background: white url("../img/img-plan-tv.png") left bottom no-repeat !important; }
.mi-plan .cuota.tv a { text-decoration: underline; display: block; margin-top: -10px; }
.mi-plan .cuota .text-4 { color: #ff6601; font-size: 3.5em; font-weight: bold; }
.mi-plan .cuota .text-3 { color: #ff6601; font-size: .6em; }
.mi-plan .cuota .text-2 { font-size: 1.4em; font-weight: bold; }
.mi-plan .sms { display: inline-block; width: 100%; }
.mi-plan .block-blue { border: 1px solid #abc7d8; background-color: white; color: #00539f; padding: 5px; width: 100%; }
.mi-plan .block-gray { border: 1px solid #999; background-color: white; color: #888; padding: 8px 5px 4px 5px; text-align: center; width: 100%; }
.mi-plan-tarifas { padding: 0 12px 15px 12px; display: flex; }
.mi-plan-tarifas .data { color: white; background-color: #918881; padding: 12px 5px; text-align: center; min-height: 50px; display: inline-block; width: 100%; }
.mi-plan-tarifas .data p { font-size: .7em; }
.mi-plan-tarifas .data p strong { font-size: 2.2em; font-weight: bold; }
.mi-plan-tarifas .col-3:nth-child(odd) .data { background-color: #b4aeaa; }
.mi-plan .collap-default-head { padding: 15px 0; }
.mi-plan .collap-default-body { margin-left: -12px; margin: -12px; }
.mi-plan .collap-default-body ul li { padding: 10px 15px; }
.mi-plan-footer { display: inline-block; width: 100%; }

.mi-plan-solicitar .block-white { color: #00539f; }
.mi-plan-solicitar .block-white ul { padding-left: 15px; }
.mi-plan-solicitar .block-white ul li { list-style-type: circle; }
.mi-plan-solicitar .collap-body { display: none; }
.mi-plan-solicitar .collap-body .collap-default-head { padding: 10px; }
.mi-plan-solicitar .collap-body .collap-default-body li { padding: 10px; }

.accordion-mi-plan-info .collap-default-head { padding: 15px 15px 10px 15px; }
.accordion-mi-plan-info .collap-default-body { padding: 0px; }
.accordion-mi-plan-info ul li { padding: 15px; }

.mi-plan-form .text-margin { margin-bottom: 15px; font-weight: 300; }
.mi-plan-form .checkbox { margin: 20px 0 10px 0; }

.slide .p-15 { padding: 0; }
.slide .text-blue { font-size: 2em !important; }

.solicitar-plan .mi-plan-title { margin: 15px 0; }
.solicitar-plan a.text-gray { padding: 15px 0; border-bottom: 1px solid #999; }

.title-abosolute { background-color: #00539f; color: white; text-align: center; display: inline-block; width: 100%; padding: 5px 0 2px 0; font-weight: 200; }

.modal-screen .slide-canales { margin: 15px 0 0 0; }
.modal-screen .content-flex { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-around; align-items: center; }
.modal-screen .content-flex .col-flex { height: 80px; width: 80px; margin-bottom: 15px; }
.modal-screen .content-flex .col-flex a { opacity: .6; }
.modal-screen .content-flex .col-flex a.selected { opacity: 1; }

.bolsas-title { font-weight: normal; font-size: 1.1em; color: #00539f; text-align: center; margin: 15px 0; }
.bolsas-block { border: 1px solid #00539f; background: white; color: #00539f; padding: 15px; width: 100%; }
.bolsas-block.min { min-height: 52px; }
.bolsas-block.p-tb { padding: 23px 15px; }
.bolsas-block-data { color: #333; background: white url("../img/img-bag-blue.png") left bottom no-repeat; min-height: 60px; }
.bolsas .collap-default-body { margin-left: -15px; margin-right: -15px; }
.bolsas .collap-default-body li { color: white; padding: 10px 15px; }
.bolsas .collap-default-body li a { font-weight: normal; color: white; text-decoration: underline; }
.bolsas .block-3 { font-size: .9em; }
.bolsas .block-1 { height: 131px; }
.bolsas .bg-azul-3 { background: #1F66A7; background: -moz-linear-gradient(50deg, #1F66A7 0%, #1F66A7 49%, #2578C4 50%, #2578C4 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #1F66A7), color-stop(49%, #1F66A7), color-stop(50%, #2578C4), color-stop(100%, #2578C4)); background: -webkit-linear-gradient(50deg, #1F66A7 0%, #1F66A7 49%, #2578C4 50%, #2578C4 100%); background: -o-linear-gradient(50deg, #1F66A7 0%, #1F66A7 49%, #2578C4 50%, #2578C4 100%); background: -ms-linear-gradient(50deg, #1F66A7 0%, #1F66A7 49%, #2578C4 50%, #2578C4 100%); background: linear-gradient(50deg, #1F66A7 0%, #1F66A7 49%, #2578C4 50%, #2578C4 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }
.bolsas .line-h { line-height: .9em; }
.bolsas .details { margin-top: 15px; }

.contratar-title { font-weight: normal; font-size: 1.1em; color: #00539f; text-align: center; margin: 15px 0; }
.contratar-tabs .tab { margin-left: -4px; margin-right: -4px; }
.contratar-tabs .block-plan { color: white; display: inline-block; padding: 8px 0; text-align: center; width: 100%; }
.contratar-tabs .block-plan p { display: block; }
.contratar-tabs .block-lg { min-height: 162px; padding-top: 30px; }
.contratar-tabs .block-md { min-height: 80px; padding-top: 24px; }
.contratar .bg-color1 { background: #2B439A; background: -moz-linear-gradient(50deg, #2B439A 0%, #2B439A 49%, #304BAC 50%, #304BAC 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #2B439A), color-stop(49%, #2B439A), color-stop(50%, #304BAC), color-stop(100%, #304BAC)); background: -webkit-linear-gradient(50deg, #2B439A 0%, #2B439A 49%, #304BAC 50%, #304BAC 100%); background: -o-linear-gradient(50deg, #2B439A 0%, #2B439A 49%, #304BAC 50%, #304BAC 100%); background: -ms-linear-gradient(50deg, #2B439A 0%, #2B439A 49%, #304BAC 50%, #304BAC 100%); background: linear-gradient(50deg, #2B439A 0%, #2B439A 49%, #304BAC 50%, #304BAC 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }
.contratar .bg-color2 { background: #0045A4; background: -moz-linear-gradient(42deg, #0045A4 0%, #0045A4 49%, #004DB7 50%, #004DB7 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #0045A4), color-stop(49%, #0045A4), color-stop(50%, #004DB7), color-stop(100%, #004DB7)); background: -webkit-linear-gradient(42deg, #0045A4 0%, #0045A4 49%, #004DB7 50%, #004DB7 100%); background: -o-linear-gradient(42deg, #0045A4 0%, #0045A4 49%, #004DB7 50%, #004DB7 100%); background: -ms-linear-gradient(42deg, #0045A4 0%, #0045A4 49%, #004DB7 50%, #004DB7 100%); background: linear-gradient(42deg, #0045A4 0%, #0045A4 49%, #004DB7 50%, #004DB7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }
.contratar .bg-color3 { background: #2C81BA; background: -moz-linear-gradient(35deg, #2C81BA 0%, #2C81BA 49%, #3190CF 50%, #3190CF 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #2C81BA), color-stop(49%, #2C81BA), color-stop(50%, #3190CF), color-stop(100%, #3190CF)); background: -webkit-linear-gradient(35deg, #2C81BA 0%, #2C81BA 49%, #3190CF 50%, #3190CF 100%); background: -o-linear-gradient(35deg, #2C81BA 0%, #2C81BA 49%, #3190CF 50%, #3190CF 100%); background: -ms-linear-gradient(35deg, #2C81BA 0%, #2C81BA 49%, #3190CF 50%, #3190CF 100%); background: linear-gradient(35deg, #2C81BA 0%, #2C81BA 49%, #3190CF 50%, #3190CF 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }
.contratar .bg-color4 { background: #4E92BF; background: -moz-linear-gradient(15deg, #4E92BF 0%, #4E92BF 49%, #57A3D5 50%, #57A3D5 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #4E92BF), color-stop(49%, #4E92BF), color-stop(50%, #57A3D5), color-stop(100%, #57A3D5)); background: -webkit-linear-gradient(15deg, #4E92BF 0%, #4E92BF 49%, #57A3D5 50%, #57A3D5 100%); background: -o-linear-gradient(15deg, #4E92BF 0%, #4E92BF 49%, #57A3D5 50%, #57A3D5 100%); background: -ms-linear-gradient(15deg, #4E92BF 0%, #4E92BF 49%, #57A3D5 50%, #57A3D5 100%); background: linear-gradient(15deg, #4E92BF 0%, #4E92BF 49%, #57A3D5 50%, #57A3D5 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }

.padd { padding: 3px; display: flex; }

.servicio-tabs p { color: #333; }
.servicio-tabs .block-white { background: white; padding: 15px; margin-top: 15px; margin-bottom: 15px; }
.servicio-tabs .block-white ul { border-bottom: 0px solid; margin-top: 10px; padding-left: 15px; }
.servicio-tabs .block-white ul li { color: #00539f; list-style-type: circle; text-align: left; width: 100%; }
.servicio-tabs .text-blue { color: #00539f; }
.servicio-tabs .collap-table p { margin-bottom: 15px; }
.servicio-tabs .table-striped { margin-top: 2px; margin-bottom: 15px; width: 100%; }
.servicio-tabs .table-striped tr:nth-child(even) { background-color: white; }
.servicio-tabs .table-striped tr th { background-color: #00539f; color: white; font-weight: normal; }
.servicio-tabs .table-striped tr th, .servicio-tabs .table-striped tr td { padding: 10px; border: none; font-weight: 300; }
.servicio-tabs .table-striped tr th:first-child, .servicio-tabs .table-striped tr td:first-child { text-align: left; }
.servicio-tabs .table-striped tr th:last-child, .servicio-tabs .table-striped tr td:last-child { text-align: right; }
.servicio-tabs .table-striped tr td:first-child { color: #00539f; }
.servicio-tabs .block-text-xs { margin-bottom: 15px; }
.servicio-tabs .block-text-xs p { color: #888; font-size: .8em; }
.servicio-tabs .orden-disable { margin: 60px 0; text-align: center; }

.contratar-viajero-title { text-align: center; }
.contratar-viajero-btn { margin: 30px 0; }
.contratar-viajero .collap-default-head { padding: 15px; }
.contratar-viajero .collap-default-body { padding: 0; }
.contratar-viajero .collap-default-body li { color: white; font-weight: 200; padding: 10px 15px; }

.ayuda-title { color: #00539f; text-align: center; font-weight: normal; margin: 20px 0 5px 0; }
.ayuda-info { background-color: #78A5CE; color: white; text-align: center; }
.ayuda-info .ayuda-ios { background: url("../img/img-ayuda-ios.png") center top no-repeat; height: 65px; margin: 10px 40px; padding-top: 30px; padding-left: 50px; }
.ayuda-info .ayuda-android { background: url("../img/img-ayuda-android.png") center top no-repeat; height: 65px; margin: 10px 40px; padding-top: 22px; padding-left: 50px; }
.ayuda-info .ayuda-ajustes { background: url("../img/img-ayuda-ajustes.png") right top no-repeat; height: 130px; margin: 10px 40px; text-align: left; }
.ayuda-info .ayuda-ajustes-deslizar { background: url("../img/img-ayuda-deslizar.png") right top no-repeat; height: 130px; margin: 10px 15px; padding-right: 75px; padding-top: 10px; text-align: left; }
.ayuda-info .ayuda-ajustes-datos-android { height: 55px; margin: 10px 25px; }
.ayuda-info .ayuda-datos { margin: 10px 35px; display: inline-block; }
.ayuda-info .ayuda-datos-android { margin: 10px 25px; display: inline-block; }
.ayuda-info .ayuda-musica { background: url("../img/img-ayuda-bag-up.png") left top no-repeat; margin: 10px 30px; min-height: 100px; display: inline-block; }
.ayuda-info .ayuda-youtube { background: url("../img/img-ayuda-youtube-bag.png") right 15px no-repeat; margin: 10px 0px; min-height: 100px; display: inline-block; }
.ayuda-info .ayuda-social { background: url("../img/img-ayuda-social-bag.png") left 20px no-repeat; margin: 10px 20px; min-height: 110px; display: inline-block; }
.ayuda-info-footer { background-color: #025CAE; color: white; text-align: center; }
.ayuda-info-footer-bolsas1 { background: #A7C2DB; color: white; text-align: center; padding: 15px; }
.ayuda-info-footer-bolsas1 .bg-image { width: 285px; min-height: 90px; margin: 0 auto; text-align: left; position: relative; }
.ayuda-info-footer-bolsas1 .bg-image .text { position: absolute; top: 20px; left: 60px; z-index: 1; width: 75%; }
.ayuda-info-footer-bolsas2 { background: #9BBBD8; color: white; text-align: center; padding: 15px; }
.ayuda-info-footer-bolsas2 .bg-image { width: 285px; min-height: 90px; margin: 0 auto; text-align: right; position: relative; }
.ayuda-info-footer-bolsas2 .bg-image .text { position: absolute; top: 27px; right: 54px; z-index: 1; width: 80%; }
.ayuda-section { padding: 12px; }
.ayuda-section .block-plan { color: white; display: inline-block; padding: 8px 0; text-align: center; width: 100%; }
.ayuda-section .block-plan p { display: block; }
.ayuda-section .block-lg { min-height: 142px; padding-top: 33px; }
.ayuda-section .block-lg img { margin-right: -15px; }
.ayuda-section .block-md { min-height: 80px; padding-top: 19px; }
.ayuda-section-bottom { font-size: .9em; }
.ayuda-section .bg-color1 { background: #2B439A; background: -moz-linear-gradient(50deg, #2B439A 0%, #2B439A 49%, #304BAC 50%, #304BAC 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #2B439A), color-stop(49%, #2B439A), color-stop(50%, #304BAC), color-stop(100%, #304BAC)); background: -webkit-linear-gradient(50deg, #2B439A 0%, #2B439A 49%, #304BAC 50%, #304BAC 100%); background: -o-linear-gradient(50deg, #2B439A 0%, #2B439A 49%, #304BAC 50%, #304BAC 100%); background: -ms-linear-gradient(50deg, #2B439A 0%, #2B439A 49%, #304BAC 50%, #304BAC 100%); background: linear-gradient(50deg, #2B439A 0%, #2B439A 49%, #304BAC 50%, #304BAC 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }
.ayuda-section .bg-color2 { background: #0045A4; background: -moz-linear-gradient(42deg, #0045A4 0%, #0045A4 49%, #004DB7 50%, #004DB7 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #0045A4), color-stop(49%, #0045A4), color-stop(50%, #004DB7), color-stop(100%, #004DB7)); background: -webkit-linear-gradient(42deg, #0045A4 0%, #0045A4 49%, #004DB7 50%, #004DB7 100%); background: -o-linear-gradient(42deg, #0045A4 0%, #0045A4 49%, #004DB7 50%, #004DB7 100%); background: -ms-linear-gradient(42deg, #0045A4 0%, #0045A4 49%, #004DB7 50%, #004DB7 100%); background: linear-gradient(42deg, #0045A4 0%, #0045A4 49%, #004DB7 50%, #004DB7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }
.ayuda-section .bg-color3 { background: #2C81BA; background: -moz-linear-gradient(35deg, #2C81BA 0%, #2C81BA 49%, #3190CF 50%, #3190CF 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #2C81BA), color-stop(49%, #2C81BA), color-stop(50%, #3190CF), color-stop(100%, #3190CF)); background: -webkit-linear-gradient(35deg, #2C81BA 0%, #2C81BA 49%, #3190CF 50%, #3190CF 100%); background: -o-linear-gradient(35deg, #2C81BA 0%, #2C81BA 49%, #3190CF 50%, #3190CF 100%); background: -ms-linear-gradient(35deg, #2C81BA 0%, #2C81BA 49%, #3190CF 50%, #3190CF 100%); background: linear-gradient(35deg, #2C81BA 0%, #2C81BA 49%, #3190CF 50%, #3190CF 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }
.ayuda-section .bg-color4 { background: #4E92BF; background: -moz-linear-gradient(15deg, #4E92BF 0%, #4E92BF 49%, #57A3D5 50%, #57A3D5 100%); background: -webkit-gradient(left bottom, right top, color-stop(0%, #4E92BF), color-stop(49%, #4E92BF), color-stop(50%, #57A3D5), color-stop(100%, #57A3D5)); background: -webkit-linear-gradient(15deg, #4E92BF 0%, #4E92BF 49%, #57A3D5 50%, #57A3D5 100%); background: -o-linear-gradient(15deg, #4E92BF 0%, #4E92BF 49%, #57A3D5 50%, #57A3D5 100%); background: -ms-linear-gradient(15deg, #4E92BF 0%, #4E92BF 49%, #57A3D5 50%, #57A3D5 100%); background: linear-gradient(15deg, #4E92BF 0%, #4E92BF 49%, #57A3D5 50%, #57A3D5 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 ); }

.contacto a { color: #00539f; font-weight: normal; }
.contacto-social { margin: 20px 0; }
.contacto-social a { display: block; }
.contacto-social .padd { padding: 0 10px; }
.contacto-social .padd img { width: 80%; }

.contacto-table { margin: 15px 0; }
.contacto-table-title { background-color: white; border: 1px solid #ff6601; color: #ff6601; padding: 6px 10px; font-weight: normal; text-align: left; }
.contacto-table-row:nth-child(odd) { background-color: #dcdcdc; }
.contacto-table-row .p-10 { padding: 10px; }
.contacto-table-row a { color: #555555; text-decoration: underline; }
.contacto-table-row a.btn-orange-xs { text-decoration: none; }
.contacto-table-row strong { font-weight: normal; }
.contacto-table-row .text-small { display: inline-block; font-size: .8em; margin: 5px; text-align: center; width: 100%; }

.tiendas-title { color: #00539f; text-align: center; font-weight: bold; }
.tiendas .block-form-group { margin: 15px 0; }
.tiendas .block-form-group .form-group { padding-right: 10px; }
.tiendas .block-form-group .btn-blue { font-size: 1em; }
.tiendas .table-th-white .text-small { font-size: .7em; }
.tiendas .carousel .equipo p { font-size: .88em !important; }

.nav.agenda { margin-bottom: 0; }

.agenda .collap-default-body { margin-left: -15px; margin-right: -15px; }
.agenda .collap-default-body li { padding: 10px 15px; }
.agenda-title { padding: 15px; }
.agenda-title.text-center { color: #00539f; font-weight: normal; }
.agenda-block .fijo { background: white url("../img/img-agenda-fijo.png") left bottom no-repeat; border: 1px solid #00539f; color: #00539f; padding: 10px 10px 90px 10px; text-align: right; font-size: 1.1em; width: 100%; }
.agenda-block .fijo-lg { background: white url("../img/img-agenda-fijo-lg.png") left bottom no-repeat; border: 1px solid #00539f; color: #00539f; padding: 10px 10px 90px 10px; text-align: right; font-size: 1.1em; width: 100%; }
.agenda-block .agenda-number, .agenda-block .agenda-update { background: white url("../img/img-agenda-number.png") 3px bottom no-repeat; border: 1px solid #00539f; color: #00539f; padding: 10px 10px 90px 10px; text-align: right; font-size: .9em; width: 100%; }
.agenda-block .agenda-number .text-lg, .agenda-block .agenda-update .text-lg { display: block; font-weight: bold; font-size: 2.2em; }
.agenda-block .agenda-update { background: white url("../img/img-agenda-update.png") 5px bottom no-repeat; }
.agenda-block .movil { background: white url("../img/img-agenda-movil.png") left bottom no-repeat; border: 1px solid #00539f; color: #00539f; padding: 10px 10px 90px 10px; text-align: right; font-size: 1.1em; width: 100%; }
.agenda-block strong { font-size: .8em; display: block; }
.agenda .info { background-color: white; color: #ff6601; padding: 10px; margin: 0 0 25px 0; border: 1px solid #ff6601; }
.agenda .btn-blue-mt-50 { margin-top: 50px; }
.agenda .switch__container span { right: 15px; }
.agenda-contact-edit .table-edit { width: 100%; }
.agenda-contact-edit .table-edit tr:first-child { border: 1px solid #ff6601; text-align: left; }
.agenda-contact-edit .table-edit tr:first-child th:nth-child(2), .agenda-contact-edit .table-edit tr:first-child th:nth-child(3) { text-align: center; }
.agenda-contact-edit .table-edit tr:nth-child(odd) td { background-color: #ddd; }
.agenda-contact-edit .table-edit th { background-color: white; color: #ff6601; font-weight: normal; padding: 15px 10px; }
.agenda-contact-edit .table-edit td { padding: 15px 10px; }
.agenda-contact-edit .table-edit td:nth-child(2), .agenda-contact-edit .table-edit td:nth-child(3) { text-align: center; }

.nav.error { margin-bottom: 0; }

.error-title-blue { color: #00539f; font-weight: normal; text-align: center; }
.error-call { background-color: white; padding: 15px; }
.error-call ul { margin-top: 10px; padding-left: 15px; }
.error-call ul li { list-style-type: circle; }
.error-call ul li strong { font-weight: bold; }
.error-call a { color: #555555; text-decoration: underline; }
.error-alert { margin-top: 10px; font-size: .9em; }
.error-alert .info { padding-top: 10px; }
.error-fecha { background-color: #e4e4e4; margin-top: 15px; }
.error-fecha .attempt-date { text-align: center; border: 1px solid #bbb; background-color: white; margin: 15px 0; padding-top: 7px; padding-bottom: 3px; }
.error-fecha a { color: #00539f; font-size: .9em; margin-right: 5px; text-decoration: underline; }
.error .btn-blue { margin-top: 150px; }
.error .btn-blue-mt-50 { margin-top: 50px; }
.error .btn-blue-mt-100 { margin-top: 100px; }

.bloqueo-title { text-align: center; }
.bloqueo-title strong { text-decoration: underline; }
.bloqueo .block-white { background-color: white; padding: 15px; }
.bloqueo .block-white ul { margin-top: 10px; padding-left: 15px; }
.bloqueo .block-white ul li { list-style-type: circle; }
.bloqueo .collap-table .btn-orange { margin: 5px -15px; }
.bloqueo .collap-table .collap-bg-blue { background-color: #D6DEE6; margin-left: -15px; margin: -15px; padding: 15px; }

.nav-top-block-title span { color: #ff6601; font-style: italic; }

.zona { width: 95%; padding: 0px 2.5%; }
.zona span { color: white; text-transform: initial; }
.zona .row:after { content: ''; display: block; clear: both; }
.zona .col-7, .zona .col-5, .zona .col-4, .zona .col-7x, .zona .col-5x { box-sizing: border-box; }
.zona .col-7 { width: 60.4%; padding: 1%; }
.zona .col-5 { width: 39.6%; padding: 1%; }
.zona .col-5 a:first-child { margin-bottom: 7.5%; }
.zona .col-7x { width: 54.4%; padding: 1%; float: left; }
.zona .col-7x .boton p { margin-top: -19%; }
.zona .col-5x { width: 45.6%; padding: 1%; float: left; }
.zona .col-5x .boton p { margin-top: -19%; }
.zona .col-4 { padding: 1%; width: 33.333%; }
.zona .entretencion { margin-top: -24px !important; }
.zona .boton { position: relative; display: block; width: 100%; box-sizing: border-box; }
.zona .boton img { max-width: 100%; margin: 0px; display: block; }
.zona .boton p { position: absolute; top: 50%; margin-top: -28%; width: 100%; text-align: center; color: #fff !important; font-size: 14px; font-style: italic; text-shadow: 2px 2px 3px #4c4c4c; }
.zona .boton p.cardamono { bottom: 6px; top: initial; }
.zona .boton p img { margin: 0px auto; max-width: 40%; }

.zona1 h3 { color: #00539f; margin-bottom: 10px; }
.zona1 .caja-descuento-cine { height: 100px; border-bottom: 5px solid #FF6601; margin-bottom: 15px; padding-left: 75px; position: relative; }
.zona1 .caja-descuento-cine img { position: absolute; left: 0px; top: 0px; }
.zona1 .caja-descuento-cine .contenido { background-color: #fff; height: 100px; position: relative; padding-left: 20px; padding-top: 41px; box-sizing: border-box; }
.zona1 .caja-descuento-cine .contenido.list { padding-top: 10px; padding-left: 0; }
.zona1 .caja-descuento-cine .contenido.list ul { list-style-type: none; }
.zona1 .caja-descuento-cine .contenido.list ul li { color: #00539f; font-style: italic; }
.zona1 .caja-descuento-cine .contenido.list ul li span { color: #999; display: block; margin-bottom: 2px; font-size: .9em; }
.zona1 .caja-descuento-cine .contenido:before { content: ''; position: absolute; left: -18px; top: 0px; display: block; width: 19px; height: 100px; background-image: url(../img/contraforma.png); }
.zona1 .caja-descuento-cine .contenido span.valor { position: absolute; right: 10px; top: 10px; font-style: italic; font-weight: bold; font-size: 18px; color: #00539f; }
.zona1 .caja-descuento-cine .contenido span.descuento { position: absolute; left: 20px; top: 12px; font-style: italic; font-weight: light; font-size: 20px; color: #00539f; }
.zona1 .caja-descuento-cine .contenido p { font-style: italic; font-size: 14px; }
.zona1 .caja-descuento-cine .contenido p.small { font-size: 11px; }
.zona1 .caja-descuento-cine .contenido p span { color: #c75001; }
.zona1 .row:after { content: ''; display: block; clear: both; }
.zona1 .cantidad-entradas { background-color: #fff; border: 1px solid #00539f; min-height: 55px; margin: 15px 5px 25px; padding: 5px; text-align: right; }
.zona1 .cantidad-entradas .radio { float: left; }
.zona1 .cantidad-entradas .numero-entradas { display: block; width: 100%; float: left; line-height: 1; font-size: 42px; color: #d2d2d2; font-weight: bold; }
.zona1 .pd45 { padding: 0px 45px; }
.zona1 .marcar p { font-size: 15px; color: #00539f; }
.zona1 .marcar p a { font-size: 20px; color: #ff6601; }
.zona1 .caja-descuento { height: 120px; margin-bottom: 15px; padding-left: 88px; position: relative; }
.zona1 .caja-descuento img { position: absolute; left: 0px; top: 0px; }
.zona1 .caja-descuento .contenido { background-color: #fff; height: 120px; position: relative; padding-left: 15px; padding-top: 51px; padding-right: 25px; box-sizing: border-box; }
.zona1 .caja-descuento .contenido:before { content: ''; position: absolute; left: -18px; top: 0px; display: block; width: 19px; height: 120px; background-image: url(../img/contraforma2.png); }
.zona1 .caja-descuento .contenido span.porcentaje { position: absolute; left: 15px; top: 12px; font-style: italic; font-weight: light; font-size: 20px; color: #00539f; }
.zona1 .caja-descuento .contenido p { font-style: italic; font-size: 14px; line-height: 1.3; }
.zona1 .caja-descuento .contenido p.small { font-size: 11px; }
.zona1 .caja-descuento .contenido p span { color: #c75001; }
.zona1 .collap-default-body li { color: #fff; padding: 10px 15px; }
.zona1 .p-10 { padding: 10px; }
.zona1 .equipo { padding: 5px; margin: 5px 0px; }
.zona1 .equipo p { text-align: center; font-size: .9em; padding: 0px 5px; }
.zona1 .equipo a { display: block; width: 100%; background-color: #00539f; color: #fff; text-align: center; margin-top: 10px; padding: 5px 15px; box-sizing: border-box; }
.zona1 .paginador { margin-top: 20px; }
.zona1 .paginador .control { display: block; width: 24px; height: 24px; overflow: hidden; text-indent: 100px; }
.zona1 .paginador .control.next { float: right; background-image: url(../img/siguiente.png); }
.zona1 .paginador .control.previus { background-image: url(../img/anterior.png); }
.zona1 .paginador ul { list-style: none; padding: 0px; text-align: center; }
.zona1 .paginador ul li { display: inline-block; }
.zona1 .paginador ul li a { display: block; width: 14px; height: 14px; border: 1px solid #a8a8a8; border-radius: 50%; margin: 0px 10px; overflow: hidden; text-indent: 100px; }
.zona1 .paginador ul li a.active { background-color: #a8a8a8; }
.zona1 .mgbt-0 { margin-bottom: 0px; }
.zona1 .panel-gris { background-color: #DDDDDD; padding: 15px; margin-bottom: 20px; }
.zona1 .panel-gris ul { margin-left: 15px; font-style: italic; font-size: 14px; }

/*# sourceMappingURL=main.css.map */
