.nav.agenda{
  margin-bottom: 0;
}
.agenda{
  .collap-default-body {
    margin-left: -15px;
    margin-right: -15px;
    li{
      padding: 10px 15px;
    }
  }
  &-title{
    padding: 15px;
    &.text-center{
      color: $color1;
      font-weight: normal;
    }
  }
  &-block{
    .fijo{
      background: white url('../img/img-agenda-fijo.png') left bottom no-repeat;
      border: 1px solid $color1;
      color: $color1;
      padding: 10px 10px 90px 10px;
      text-align: right;
      font-size: 1.1em;
      width: 100%;
    }
    .fijo-lg{
      background: white url('../img/img-agenda-fijo-lg.png') left bottom no-repeat;
      border: 1px solid $color1;
      color: $color1;
      padding: 10px 10px 90px 10px;
      text-align: right;
      font-size: 1.1em;
      width: 100%;
    }
    .agenda-number,
    .agenda-update{
      background: white url('../img/img-agenda-number.png') 3px bottom no-repeat;
      border: 1px solid $color1;
      color: $color1;
      padding: 10px 10px 90px 10px;
      text-align: right;
      font-size: .9em;
      width: 100%;
      .text-lg{
        display: block;
        font-weight: bold;
        font-size: 2.2em;
      }
    }
    .agenda-update{
      background: white url('../img/img-agenda-update.png') 5px bottom no-repeat;
    }
    .movil{
      background: white url('../img/img-agenda-movil.png') left bottom no-repeat;
      border: 1px solid $color1;
      color: $color1;
      padding: 10px 10px 90px 10px;
      text-align: right;
      font-size: 1.1em;
      width: 100%;
    }
    strong{
      font-size: .8em;
      display: block;
    }
  }
  .info{
    background-color: white;
    color: $color3;
    padding: 10px;
    margin: 0 0 25px 0;
    border: 1px solid $color3;
  }
  .btn-blue-mt-50{
    margin-top: 50px;
  }
  .switch__container{
    span{
      right: 15px
    }
  }
  &-contact-edit{
    .table-edit{
      width: 100%;
      tr:first-child{
        border: 1px solid $color3;
        text-align: left;
        th:nth-child(2),
        th:nth-child(3){
          text-align: center;
        }
      }
      tr:nth-child(odd) td{
        background-color: #ddd;
      }
      th{
        background-color: white;
        color: $color3;
        font-weight: normal;
        padding: 15px 10px;
      }
      td{
        padding: 15px 10px;
        &:nth-child(2),
        &:nth-child(3){
          text-align: center;
        }
      }
    }
  }
}
