.ayuda{
  &-title{
    color: $color1;
    text-align: center;
    font-weight: normal;
    margin: 20px 0 5px 0;
  }
  &-info{
    background-color: #78A5CE;
    color: white;
    text-align: center;
    .ayuda-ios{
      background: url("../img/img-ayuda-ios.png") center top no-repeat;
      height: 65px;
      margin: 10px 40px;
      padding-top: 30px;
      padding-left: 50px;
    }
    .ayuda-android{
      background: url("../img/img-ayuda-android.png") center top no-repeat;
      height: 65px;
      margin: 10px 40px;
      padding-top: 22px;
      padding-left: 50px;
    }
    .ayuda-ajustes{
      background: url("../img/img-ayuda-ajustes.png") right top no-repeat;
      height: 130px;
      margin: 10px 40px;
      text-align: left;
    }
    .ayuda-ajustes-deslizar{
      background: url("../img/img-ayuda-deslizar.png") right top no-repeat;
      height: 130px;
      margin: 10px 15px;
      padding-right: 75px;
      padding-top: 10px;
      text-align: left;
    }
    .ayuda-ajustes-datos-android{
      height: 55px;
      margin: 10px 25px;
    }
    .ayuda-datos{
      margin: 10px 35px;
      display: inline-block;
    }
    .ayuda-datos-android{
      margin: 10px 25px;
      display: inline-block;
    }
    .ayuda-musica{
      background: url('../img/img-ayuda-bag-up.png') left top no-repeat;
      margin: 10px 30px;
      min-height: 100px;
      display: inline-block;
    }
    .ayuda-youtube{
      background: url('../img/img-ayuda-youtube-bag.png') right 15px no-repeat;
      margin: 10px 0px;
      min-height: 100px;
      display: inline-block;
    }
    .ayuda-social{
      background: url('../img/img-ayuda-social-bag.png') left 20px no-repeat;
      margin: 10px 20px;
      min-height: 110px;
      display: inline-block;
    }
  }
  &-info-footer{
    background-color: #025CAE;
    color: white;
    text-align: center;
  }
  &-info-footer-bolsas1{
    background: #A7C2DB;
    color: white;
    text-align: center;
    padding: 15px;
    .bg-image{
      width: 285px;
      min-height: 90px;
      margin: 0 auto;
      text-align: left;
      position: relative;
      .text{
        position: absolute;
        top: 20px;
        left: 60px;
        z-index: 1;
        width: 75%;
      }
    }
  }
  &-info-footer-bolsas2{
    background: #9BBBD8;
    color: white;
    text-align: center;
    padding: 15px;
    .bg-image{
      width: 285px;
      min-height: 90px;
      margin: 0 auto;
      text-align: right;
      position: relative;
      .text{
        position: absolute;
        top: 27px;
        right: 54px;
        z-index: 1;
        width: 80%;
      }
    }
  }
  &-section{
    padding: 12px;
    .block-plan{
      //background-color: white;
      color: white;
      display: inline-block;
      padding: 8px 0;
      text-align: center;
      width: 100%;
      p{
        display: block;
      }
    }
    .block-lg{
      min-height: 142px;
      padding-top: 33px;
      img{
        margin-right: -15px;
      }
    }
    .block-md{
      min-height: 80px;
      padding-top: 19px;
    }
    &-bottom{
      font-size: .9em;
    }
    .bg-color1{
      @include bg-gradient-top-right($deg: 50deg, $var1: #2B439A, $var2: #304BAC);
    }
    .bg-color2{
      @include bg-gradient-top-right($deg: 42deg, $var1: #0045A4, $var2: #004DB7);
    }
    .bg-color3{
      @include bg-gradient-top-right($deg: 35deg, $var1: #2C81BA, $var2: #3190CF);
    }
    .bg-color4{
      @include bg-gradient-top-right($deg: 15deg, $var1: #4E92BF, $var2: #57A3D5);
    }
  }
}
