@import '../fonts/stylesheet.css';

$color1: #00539f;
$color2: #033051;
$color3: #ff6601;
$color4: #c75001;
$color5: #eeeeee;
$color6: #555555;


/*
  Gradient li in collapse
*/
@for $i from 1 through 10 {
 .collap-default-body li:nth-child(#{$i}){
   background: lighten($color3, $i*5 );
 }
}

@for $i from 1 through 10 {
 .collap-default-body.blue li:nth-child(#{$i}){
   background: lighten(#8FB5CD, $i*6 );
 }
}


/*
  Vertical gradient top-right
*/
@mixin bg-gradient-top-right($deg, $var1, $var2) {
  background: $var1;
  background: -moz-linear-gradient($deg, $var1 0%, $var1 49%, $var2 50%, $var2 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, $var1), color-stop(49%, $var1), color-stop(50%, $var2), color-stop(100%, $var2));
  background: -webkit-linear-gradient($deg, $var1 0%, $var1 49%, $var2 50%, $var2 100%);
  background: -o-linear-gradient($deg, $var1 0%, $var1 49%, $var2 50%, $var2 100%);
  background: -ms-linear-gradient($deg, $var1 0%, $var1 49%, $var2 50%, $var2 100%);
  background: linear-gradient($deg, $var1 0%, $var1 49%, $var2 50%, $var2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 );
}


/*
  Vertical gradient bottom-right
*/
@mixin bg-gradient-bottom-right($deg, $var1, $var2) {
  background: $var1;
  background: -moz-linear-gradient($deg, $var1 0%, $var1 50%, $var2 50%, $var1 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, $var1), color-stop(50%, $var1), color-stop(50%, $var2), color-stop(100%, $var1));
  background: -webkit-linear-gradient($deg, $var1 0%, $var1 50%, $var2 50%, $var1 100%);
  background: -o-linear-gradient($deg, $var1 0%, $var1 50%, $var2 50%, $var1 100%);
  background: -ms-linear-gradient($deg, $var1 0%, $var1 50%, $var2 50%, $var1 100%);
  background: linear-gradient($deg, $var1 0%, $var1 50%, $var2 50%, $var1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$var1', endColorstr='$var2', GradientType=1 );
}


/*
  Base style
*/
*{
  margin: 0;
  padding: 0;
}
html,
body{
  height: 100%;
}
body{
  background-color: $color5;
  color: #444;
  font-family: 'DIN Next LT Pro';
  font-size: 13px;
  font-weight: normal;
  max-width: 720px;
  position: relative;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
}
a,
button{
  text-decoration: none;
  transition: background .3s;
  &:hover,
  &:active,
  &:visited,
  &:focus{
    outline: 0 !important;
    text-decoration: none !important;
  }
}
strong{
  font-weight: bold;
}
table{
  border-collapse: collapse;
}
table{
  tr{
    th{
      font-weight: bold;
    }
    td{
      font-weight: normal;
    }
  }
}
pre{
  background-color: white;
  margin: 8px 0;
  padding: 8px;
  white-space: pre-line;
}


/*
  Col
*/
.col-12{
  min-height: 1px;
  float: left;
  width: 100%;
}
.col-11{
  min-height: 1px;
  float: left;
  width: 91.3%;
}
.col-10{
  min-height: 1px;
  float: left;
  width: 83%;
}
.col-9{
  min-height: 1px;
  float: left;
  width: 74.7%;
}
.col-8{
  min-height: 1px;
  float: left;
  width: 66.4%;
}
.col-7{
  min-height: 1px;
  float: left;
  width: 58.1%;
}
.col-6{
  min-height: 1px;
  float: left;
  width: 50%;
}
.col-5{
  min-height: 1px;
  float: left;
  width: 41.5%;
}
.col-4{
  min-height: 1px;
  float: left;
  width: 33.2%;
}
.col-3{
  min-height: 1px;
  float: left;
  width: 25%;
}
.col-2{
  min-height: 1px;
  float: left;
  width: 16.6%;
}
.col-1{
  min-height: 1px;
  float: left;
  width: 8.3%;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.clear{
  clear: both;
}
.row:after{
  clear: both;
  content: '';
  display: block;
}
.p-15{
  padding: 15px;
}
.m-lr-absolute{
  margin-left: -15px;
  margin-right: -15px;
}
.m-tb-15{
  margin-top: 15px;
  margin-bottom: 15px;
}
.m-tb-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.mt-5{
  margin-top: 5px;
}
.mb-15{
  margin-bottom: 15px;
}
.img-responsive{
  width: 100%;
}
.button-bottom{
  bottom: 15px;
  left: 0px;
  padding: 0 5%;
  position: absolute;
  width: 90%;
}
.text-orange{
  color: $color3;
}
.text-blue{
  color: $color1;
}
.text-gray{
  color: #777;
}
.text-i{
  font-style: italic;
}
.text-n{
  font-style: normal;
}
.font-weight-normal{
  font-weight: normal;
}
.text-decoration-u{
  text-decoration: underline;
}
.not-bg{
  background-color: transparent !important;
}
.content{
  padding: 0 15px;
}
.link{
  color: $color6;
  margin: 10px 0;
  display: inline-block;
  text-decoration: underline;
  font-weight: normal;
}
.nav-bottom-default{
  margin-bottom: 0 !important;
}
.dis-ib{
  display: inline-block;
  width: 100%;
}
.text-lg{
  font-size: 1.4em;
}
.text-md{
  font-size: 1.2em;
}
.text-xs{
  font-size: .8em;
}
.block-white{
  background-color: white;
  padding: 15px;
}
.zona{
  color: white;
  font-style: italic;
  span{
    color: $color1;
    text-transform: uppercase;
  }
}
