.bloqueo{
  &-title{
    text-align: center;
    strong{
      text-decoration: underline;
    }
  }
  .block-white{
    background-color: white;
    padding: 15px;
    ul{
      margin-top: 10px;
      padding-left: 15px;
      li{
        list-style-type: circle;
      }
    }
  }
  .collap-table{
    .btn-orange{
      margin: 5px -15px;
    }
    .collap-bg-blue{
      background-color: #D6DEE6;
      margin-left: -15px;
      margin: -15px;
      padding: 15px;
    }
  }
}
