.bolsas{
  &-title{
    font-weight: normal;
    font-size: 1.1em;
    color: $color1;
    text-align: center;
    margin: 15px 0;
  }
  &-block{
    border: 1px solid $color1;
    background: white;
    color: $color1;
    padding: 15px;
    width: 100%;
    &.min{
      min-height: 52px;
    }
    &.p-tb{
      padding: 23px 15px;
    }
    &-data{
      color: #333;
      background: white url('../img/img-bag-blue.png') left bottom no-repeat;
      min-height: 60px;
    }
  }
  .collap-default{
    &-body{
      margin-left: -15px;
      margin-right: -15px;
      li{
        color: white;
        padding: 10px 15px;
        a{
          font-weight: normal;
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
  .block-3{
    font-size: .9em;
  }
  .block-1{
    height: 131px;
  }
  .bg-azul-3{
    @include bg-gradient-top-right($deg: 50deg, $var1: #1F66A7, $var2: #2578C4);
  }
  .line-h{
    line-height: .9em;
  }
  .details{
    margin-top: 15px;
  }
}
