/*
  Components base style
*/
.components{
  h2{
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .example-col{
    margin-bottom: 10px;
    div{
      border: 1px solid $color1;
      display: block;
      float: initial;
    }
  }
}


/*
  Button
*/
.btn-orange{
  background-color: $color3;
  border-bottom: 4px solid $color4;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 1.5em;
  font-weight: normal;
  padding: 12px 15px 10px 15px;
  text-align: center;
  transition: all .3s;
  &:hover{
    background-color: darken($color3, 2);
    border-bottom: 1px solid $color4;
    transform: translateY(3px);
  }
}
.btn-orange-xs{
  background-color: $color3;
  border-radius: 4px;
  color: white !important;
  font-size: 1em;
  font-weight: normal;
  padding: 7px 5px 5px 5px;
  text-align: center;
  transition: all .3s;
  &:hover{
    background-color: darken($color3, 2);
    border-bottom: 1px solid $color4;
    transform: translateY(3px);
  }
}
.btn-blue{
  background-color: $color1;
  border-bottom: 4px solid $color2;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 1.5em;
  font-weight: normal;
  padding: 12px 15px 10px 15px;
  text-align: center;
  transition: all .3s;
  &:hover{
    background-color: darken($color1, 2);
    border-bottom: 1px solid $color2;
    transform: translateY(3px);
  }
}


/*
  Nav
*/
.nav{
  margin-bottom: 20px;
  .nav-top{
    background: url('../img/img-body-bg.png') center top no-repeat;
    background-size: cover;
    height: 45px;
    &-arrow-left{
      float: left;
      a{
        display: block;
        height: 45px;
        width: 45px;
        img{
          margin: 15px 0 0 18px;
        }
      }
    }
    &-block-title{
      color: white;
      float: left;
      font-size: 1.6em;
      font-weight: normal;
      padding-top: 13px;
      text-align: center;
      width: calc(100% - 90px);
    }
  }
  .nav-bottom{
    background-color: white;
    height: 45px;
    &-title{
      color: $color3;
      height: 45px;
      font-size: 1.1em;
      font-weight: 300;
      line-height: 3.2em;
      text-align: center;
    }
    &-dropdown{
      padding-top: 6px;
      .dropdown{
        right: 15px;
      }
    }
  }
  box-shadow: 0 1px 12px rgba(0,0,0,.15);
}


/*
  Dropdown
*/
.dropdown {
  position: absolute;
  width: 160px;
  background-color: #f0f0f0;
  height: 33px;
  span {
    border-radius: 3px;
    color: #797979;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    line-height: 2.3em;
  }
  span:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    background: #d8d8d8 url('../img/btn-arrow-down.png') center no-repeat;
    height: 33px;
    width: 35px;
  }
  span:hover {
    cursor: pointer;
  }
  span.active:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 12345;
    background: #d8d8d8 url('../img/btn-arrow-up.png') center no-repeat;
    height: 33px;
    width: 35px;
  }
  .dropdown-button.active{
    border-color: #546085;
  }
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 9999;
    max-height: 240px;
    padding-left: 0;
    li {
      list-style: none;
      font-size: 1.2em;
      padding: 12px 15px;
      background-color: #e4e4e4;
      color: #797979;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
    }
  }
}


/*
  Tabs
*/
.tabs{
  display: inline-block;
  width: 100%;
  ul{
    border-bottom: 1px solid $color3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    li{
      order: 1;
      flex: 1 auto;
      list-style-type: none;
      text-align: center;
      a{
        color: #85a1ba;
        padding: 12px;
        flex: 1 auto;
        display: block;
        &.selected{
          color: $color1;
          border-bottom: 8px solid $color3;
          font-weight: normal;
        }
      }
    }
  }
  &-data{
    padding: 15px;
    display: inline-block;
  }
}



/*
  Accordion
*/
.collap-table{
  &-head{
    &.open a{
      height: auto;
      background: white url('../img/icon-accordion.png')  0px -20px no-repeat;
      background-position-x: 98%;
    }
    a{
      background: white url('../img/icon-accordion.png')  0px 10px no-repeat;
      background-position-x: 98%;
      border: 1px solid $color1;
      color: $color1;
      padding: 10px;
      margin: 4px 0;
      display: block;
      transition: all 0s;
    }
  }
  &-body{
    height: auto;
    overflow: hidden;
    padding: 10px 15px;
    transition: all .3s;
  }
}

.collap-default{
  &-head{
    &.open a:after{
      height: auto;
      background: url('../img/icon-collap-circle.png')  0px -22px no-repeat;
    }
    a{
      color: $color6;
      padding: 0;
      margin: 4px 0;
      display: inline-block;
      transition: all 0s;
      position: relative;
      &:after{
        content: '';
        background:url('../img/icon-collap-circle.png') 0 0 no-repeat;
        position: absolute;
        min-height: 20px;
        width: 20px;
        right: -25px;
        top: -2px;
      }
    }

  }
  &-body{
    height: auto;
    overflow: hidden;
    padding: 0;
    transition: all .3s;
  }
}


/*
  Form group > input + label
*/
.form-group{
  margin-bottom: 5px;
  label, p{
    padding: 5px 10px;
    font-weight: normal;
  }
  input{
    border-radius: 7px;
    border: 0px solid;
    font-size: 1em;
    min-height: 30px;
    padding: 5px 3%;
    width: 94%;
  }
  p{
    font-size: .8em;
  }
}

select.form-control{
  background-color: white;
  border-radius: 7px;
  border: 0px solid;
  font-size: 1em;
  min-height: 40px;
  padding: 5px 3%;
  width: 100%;
}


/*
  Checkbox switch
*/
.switch__container {
  margin: 30px auto;
  width: 90px;
  position: relative;
  span.on {
    position: absolute;
    top: 22px;
    left: -5px;
    font-size: 1.6em;
    color: white;
    z-index: 9;
  }
  span.off {
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: 1.6em;
    color: white;
    z-index: 9;
  }
  .switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
    & + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
    }

  }
}
.switch--shadow + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #bbb;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch--shadow + label:after {
  width: 62px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
  z-index: 11;
}
.switch--shadow:checked + label:before {
  background-color: $color3;
}
.switch--shadow:checked + label:after {
  transform: translateX(60px);
}


/*
  Steps
*/
.steps{
  background-color: $color1;
  font-size: 1.6em;
  font-weight: 300;
  padding: 6px 15px 2px 15px;
  &-title{
    color: white;
  }
  a{
    color: $color2;
    padding: 0 18px;
    &.active{
      color: white;
    }
  }
}


/*
  Block planes
*/
.block-planes{
  .block-blue{
    border: 1px solid $color1;
    background-color: white;
    color: $color1;
    padding: 5px;
    width: 100%;
    &.fijo{
      background: white url('../img/img-dollar-sign-blue.png') left bottom no-repeat;
      min-height: 60px;
      .text-blue{
        font-size: 2.4em;
        font-weight: bold;
      }
      .text-xs{
        font-size: .8em;
      }
    }
    &.cuota{
      background: white url('../img/img-smartphone-blue.png') left bottom no-repeat;
      min-height: 94px;
    }
  }
  .block-gray{
    border: 1px solid #888;
    background-color: white;
    color: #888;
    padding: 5px;
    text-align: center;
    width: 100%;
  }
}



/*
  Slide arrow left right blue
*/
.slide{
  display: inline-block;
  width: 100%;
  .btn-left{
    float: left;
    padding-top: 14%;
    width: 12%;
  }
  .btn-right{
    float: right;
    padding-top: 14%;
    width: 12%;
  }
  .btn-arrow{
    display: inline-block;
    height: 79px;
    padding-top: 12%;
    opacity: .6;
    transition: opacity .3s;
    width: 27px;
    &:hover{
      opacity: 1;
    }
    &.btn-arrow-left{
      background: url('../img/icon-slide-arrow.png') 0 0 no-repeat;
    }
    &.btn-arrow-right{
      background: url('../img/icon-slide-arrow.png') -27px 0 no-repeat;
      float: right;
    }
  }
  &-body{
    width: 76%;
    float: left;
    .box{}
    .table{
      width: 100%;
    }
  }
  #slides {
    overflow:hidden;
    position:relative;
  }
  #slides .box {
    position:relative;
    margin:0;
    padding:0;
    //width: 600px;
  }
  #slides .table {
    //width: 300px;
    float:left;
  }
}



/*
  Progressbar
*/
.progressbar{
  .progressbar-bar{
    border: 3px solid #757575;
    height: 40px;
    position: relative;
    background-color: $color3;
    transition: all .5s;
    .metric{
      background: url("../img/img-progressbar-bg.png") left top no-repeat;
      background-size: contain;
      position: absolute;
      height: 40px;
      width: 100%;
      z-index: 123;
    }
    .level{
      background-color: $color5;
      float: right;
      height: 100%;
      position: relative;
      width: 0%;
      transition: width ease-in 1s;
      -webkit-transition: width ease-in 1s;
      -moz-transition: width ease-in 1s;
      -o-transition: width ease-in 1s;
      &:after{
        content: '';
        background: url("../img/icon-progressbar-triangle.svg") left top no-repeat;
        height: 25px;
        width: 14px;
        left: -8px;
        position: absolute;
        z-index: 123123;
        bottom: -6px;
      }
    }
  }
}



/*
  Table th white
*/
.table-th-white{
  width: 100%;
  tr:last-child td{
    border-bottom: 0px solid;
  }
  th{
    background-color: white;
    border: 1px solid $color3;
    padding: 10px;
    color: $color1;
    text-align: left;
    font-weight: normal;
  }
  td{
    border-bottom: 1px solid $color3;
    padding: 10px;
  }
}




/*
  Input checkbox / radio
*/
input[type=checkbox]:not(old),
input[type=radio ]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio ]:not(old) + label {
  display: inline-block;
  margin-left: -2em;
  line-height: 1.5em;
}
input[type=checkbox]:not(old) + label > span,
input[type=radio ]:not(old) + label > span {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid #888;
  border-radius: 0.25em;
  background: rgb(224,224,224);
  background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image: linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align: bottom;
}
input[type=radio ]:not(old) + label > span{
  border-radius: 50% !important;
}
input[type=checkbox]:not(old):checked + label > span,
input[type=radio ]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image: -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image: -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image: -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image: linear-gradient(rgb(224,224,224),rgb(240,240,240));
}
input[type=checkbox]:not(old):checked + label > span:before {
  content: '✓';
  display: block;
  width: 1em;
  color: $color6;
  font-size: 0.875em;
  line-height: 1.3em;
  text-align: center;
  text-shadow: 0 0 0.0714em $color6;
  font-weight: bold;
}
input[type=radio]:not(old):checked + label > span > span {
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin: 0.1em;
  border: 0.0625em solid $color3;
  border-radius: 50%;
  background: $color3;
}



/*
  Modal
*/
#screen, #modal {
  display: none;
  position: fixed;
}
.modal-screen{
  display: none;
}
#screen {
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  .block-close{
    height: 50px;
    position: relative;
    .close{
      background: url('../img/icon-modal-close.png') 0 no-repeat;
      height: 31px;
      width: 31px;
      position: absolute;
      top: 20px;
      right: 0;
      z-index: 22;
    }
  }
  .modal-content{
    background: rgba(98,98,98,0.97);
    color: white;
    padding: 0 15px; //60px 15px 15px 15px;
    height: 100%;
    overflow: auto;
  }
}
#modal {
  width: 33.333%;
  top: 20%;
  left: 33.3333%;
  background: white;
  z-index: 30;

}



/*
  Slider
*/
.modal-style{
  .bx-wrapper{
    .bx-controls-direction a{
      bottom: -40px;
      top: initial !important;
    }
    .bx-pager.bx-default-pager a{
      border: 1px solid #ddd !important;
      &.active{
        background: #ddd !important;
      }
    }
    .bx-controls-direction{
      a{
        height: 24px;
        width: 24px;
      }
      .bx-prev{
        background: url('../img/img-carrousel-arrow.png') 0 0 no-repeat;
      }
      .bx-next{
        background: url('../img/img-carrousel-arrow.png') -24px 0 no-repeat;
      }
    }
  }
}



/*
  Highchart Graph
*/
.cont-graf{
  position:relative;
  width: 150px;
  height: 140px;
  padding-top: 20px;
  .icon-circle{
    position: absolute;
    top: 75px;
    text-align: center;
    margin: 0px auto;
    left: -0.5%;
    right: 0px;
    background: $color3;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    img{
      position: absolute;
      top: 5px;
      left: 6px;
    }
  }
  .container{width: 100%; margin: 0px auto;}
  .porcentajes{
    width: 100%;
    margin: 0px auto;
    max-width: 150px;
    position: absolute;
    right: 0;
    left: 0;
    top: 100px;
    span:first-child{
      float:left;
    }
    span{
      color:#015BAD;
      display:block;
      font-size: 13px;
      float:right;
    }
  }
}
