.contratar-viajero{
  &-title{
    text-align: center;
  }
  &-btn{
    margin: 30px 0;
  }
  .collap-default{
    &-head{
      padding: 15px;
    }
    &-body{
      padding: 0;
      li{
        color: white;
        font-weight: 200;
        padding: 10px 15px;
      }
    }
  }
}
