.contratar{
  &-title{
    font-weight: normal;
    font-size: 1.1em;
    color: $color1;
    text-align: center;
    margin: 15px 0;
  }
  &-tabs{
    .tab{
      margin-left: -4px;
      margin-right: -4px;
    }
    .block-plan{
      color: white;
      display: inline-block;
      padding: 8px 0;
      text-align: center;
      width: 100%;
      p{
        display: block;
      }
    }
    .block-lg{
      min-height: 162px;
      padding-top: 30px;
    }
    .block-md{
      min-height: 80px;
      padding-top: 24px;
    }
  }
  .bg-color1{
    @include bg-gradient-top-right($deg: 50deg, $var1: #2B439A, $var2: #304BAC);
  }
  .bg-color2{
    @include bg-gradient-top-right($deg: 42deg, $var1: #0045A4, $var2: #004DB7);
  }
  .bg-color3{
    @include bg-gradient-top-right($deg: 35deg, $var1: #2C81BA, $var2: #3190CF);
  }
  .bg-color4{
    @include bg-gradient-top-right($deg: 15deg, $var1: #4E92BF, $var2: #57A3D5);
  }
}

.padd{
  padding: 3px;
  display: flex;
}
