.contacto{
  a{
    color: $color1;
    font-weight: normal;
  }
  &-social{
    margin: 20px 0;
    a{
      display: block;
    }
    .padd{
      padding: 0 10px;
      img{
        width: 80%;
      }
    }
  }
}
.contacto-table{
  margin: 15px 0;
  @extend .dis-ib;
  &-title{
    background-color: white;
    border: 1px solid $color3;
    color: $color3;
    padding: 6px 10px;
    font-weight: normal;
    text-align: left;
  }
  &-row{
    @extend .dis-ib;
    &:nth-child(odd){
      background-color: #dcdcdc;
    }
    .p-10{
      padding: 10px;
    }
    a{
      color: $color6;
      text-decoration: underline;
      &.btn-orange-xs{
        text-decoration: none;
      }
    }
    strong{
      font-weight: normal;
    }
    .text-small{
      display: inline-block;
      font-size: .8em;
      margin: 5px;
      text-align: center;
      width: 100%;
    }
  }
}
