.consumo{
  &-head{
    padding: 0 15px 0px 15px;
  }
  h3{
    color: $color1;
    margin-bottom: 10px;
    span{
      color: #999;
      font-size: .8em;
      float: right;
    }
  }
  .progressbar{
    margin-bottom: 15px;
    &-bar{
      margin-bottom: 3px;
    }
    span{
      color: $color3;
      &:last-child{
        float: right;
      }
    }
  }
  .row{
    display: flex;
    width: 100%;
    .p-15{
      width: 100%;
    }
    &.odd{
      background-color: #ddd;
    }
    .consumo-bolsas{
      padding: 0 10px;
      h3{
        font-weight: bold;
        margin: 5px 0;
      }
    }
  }
  &-footer{
    padding: 15px;
    .block-footer{
      .margin{
        margin: 20px 0;
      }
    }
    a{
      position: relative;
      .plus{
        position: absolute;
        right: -30px;
        top: -3px;
        height: 20px;
        width: 20px;
      }
    }
  }
  .collap-default{
    .collap-default-head{
      padding: 10px;
    }
    .collap-default-body{
      padding: 0;
      li{
        color: white;
        padding: 10px;
        list-style-type: none;
        strong,
        .text-xs{
          margin: 7px 0;
        }
        a{
          text-decoration: underline;
          color: white;
          font-weight: normal;
          font-size: 1.1em;
          margin: 10px 0;
        }
      }
    }
  }
}
