.dashboard{
  &-title{
    margin-bottom: 10px;
    @extend .dis-ib;
    &-name{
      padding-top: 7px;
      padding-left: 10px;
      font-size: 1.4em;
      color: #aaa;
      .text-orange{
        font-size: 1.2em;
      }
    }
  }
  &-menu{
    ul{
      margin-left: -15px;
      margin: -15px;
      li{
        display: table;
        padding: 10px 15px;
        list-style-type: none;
        border-bottom: 1px solid #bbb;
        @extend .dis-ib;
        &:nth-child(even){
          background-color: white;
        }
        .pt{
          color: #666;
          padding-top: 10px;
        }
      }
    }
  }
  &-btns-round{
    text-align: center;
    a{
      margin: 25px;
      display: inline-block;
    }
  }
  &-block{
    border: 1px solid #ccc;
    color: white;
    text-align: center;
    @extend .dis-ib;
    &.block-1{
      @include bg-gradient-top-right($deg: 50, $var1: #001c85, $var2: #02269e);
      height: 155px;
      padding-top: 35px;
    }
    &.block-2{
      height: 60px;
      padding-top: 10px;
      .text-i{
        font-size: .85em;
        padding-top: 5px;
        display: block;
      }
    }
    &.block-3{
      padding-top: 10px;
      height: 40px;
    }
    &.block-border{
      border-radius: 0 0 20px 0;
    }
    &.bg-azul-2{
      @include bg-gradient-top-right($deg: 50, $var1: #074bac, $var2: #074fb5);
    }
    &.bg-azul-3{
      background-color: #1D79C5;
    }
    &.bg-zona{
      background-color: $color3;
      font-size: 1.5em;
      display: table;
      padding-top: 14px;
    }
  }
}
