.nav.error{
  margin-bottom: 0;
}
.error{
  &-title-blue{
    color: $color1;
    font-weight: normal;
    text-align: center;
  }
  &-call{
    background-color: white;
    padding: 15px;
    ul{
      margin-top: 10px;
      padding-left: 15px;
      li{
        list-style-type: circle;
        strong{
          font-weight: bold;
        }
      }
    }
    a{
      color: $color6;
      text-decoration: underline;
    }
  }
  &-alert{
    margin-top: 10px;
    font-size: .9em;
    .info{
      padding-top: 10px;
    }
  }
  &-fecha{
    background-color: #e4e4e4;
    margin-top: 15px;
    @extend .dis-ib;
    .attempt-date{
      text-align: center;
      border: 1px solid #bbb;
      background-color: white;
      margin: 15px 0;
      padding-top: 7px;
      padding-bottom: 3px;
    }
    a{
      color: $color1;
      font-size: .9em;
      margin-right: 5px;
      text-decoration: underline;
    }
  }
  .btn-blue{
    margin-top: 150px;
  }
  .btn-blue-mt-50{
    margin-top: 50px;
  }
  .btn-blue-mt-100{
    margin-top: 100px;
  }
}
