.login{
  background: url('../img/img-login-bg.png') left top no-repeat;
  background-size: cover;
  height: 100%;
  padding: 15px 0;
  &.nav{
    padding-top: 0 !important;
    background-image: none;
    padding-bottom: 0;
    margin-bottom: 0;
    height: initial;
    .nav-top-block-title{
      width: 100% !important;
    }
  }
  &.recovery{
    background: url('../img/img-body-bg.png') left top no-repeat;
    background-size: cover;
    .form-group{
      margin-top: 30px;
    }
    .registry-app{
      background-color: $color1;
      margin-top: 35px;
      padding-bottom: 40px;
      a.btn-orange{
        margin-top: 50px;
      }
    }
  }
  &-registry{
    background: url('../img/img-body-bg-white.png') left -300px no-repeat;
    height: 100%;
    .img-congratulations{
      display: block;
    }
  }
  &-head{
    margin-bottom: 15px;
    .logo{
      margin-bottom: 70px;
    }
    &-access{
      display: inline-block;
      text-align: right;
      width: 100%;
      a{
        color: white;
        text-decoration: underline;
        &:first-child{
          margin: 0 10px;
        }
      }
    }
    h2{
      text-align: center;
      color: white;
      &.margin-top{
        padding-top: 50px;
        margin-bottom: 20px;
      }
    }
  }
  &-form{
    display: inline-block;
    width: 100%;
    color: white;
  }
}
