.mi-plan{
  padding: 15px 12px;
  &-title{
    color: $color1;
    font-weight: normal;
    margin-top: -12px;
    margin-bottom: 15px;
    text-align: center;
  }
  &-title-second{
    font-weight: normal;
    color: $color1;
  }
  .mt-5{
    margin-top: 5px;
  }
  .padd{
    padding: 3px;
  }
  .fijo{
    background: white url('../img/img-dollar-sign-blue.png') left bottom no-repeat;
    min-height: 60px;
    color: $color1;
    .text-blue{
      font-size: 2.4em;
      font-weight: bold;
    }
    .text-xs{
      font-size: .8em;
    }
    &.bg-grad{
      color: white !important;
      min-height: 45px !important;
      padding-top: 15px !important;
      @include bg-gradient-top-right($deg: 45deg, $var1: #B0C6DB, $var2: #A7C0D7);
      .text-blue{
        color: white !important;
      }
    }
  }
  .cuota{
    padding-top: 13px !important;
    background-color: white;
    min-height: 84px;
    &.movil{
      background: white url('../img/img-smartphone-blue.png') left bottom no-repeat;
      .text-3,
      .text-4{
        color: $color1;
      }
    }
    &.tel-fijo{
      background: white url('../img/img-agenda-fijo.png') left bottom no-repeat !important;
    }
    &.tv{
      background: white url('../img/img-plan-tv.png') left bottom no-repeat !important;
      a{
        text-decoration: underline;
        display: block;
        margin-top: -10px;
      }
    }
    .text-4{
      color: $color3;
      font-size: 3.5em;
      font-weight: bold;
    }
    .text-3{
      color: $color3;
      font-size: .6em;
    }
    .text-2{
      font-size: 1.4em;
      font-weight: bold;
    }
  }
  .sms{
    display: inline-block;
    width: 100%;
  }
  .block-blue{
    border: 1px solid #abc7d8;
    background-color: white;
    color: $color1;
    padding: 5px;
    width: 100%;
  }
  .block-gray{
    border: 1px solid #999;
    background-color: white;
    color: #888;
    padding: 8px 5px 4px 5px;
    text-align: center;
    width: 100%;
  }
  &-tarifas{
    padding: 0 12px 15px 12px;
    display: flex;
    .data{
      color: white;
      background-color: #918881;
      padding: 12px 5px;
      text-align: center;
      min-height: 50px;
      display: inline-block;
      width: 100%;
      p{
        font-size: .7em;
        strong{
          font-size: 2.2em;
          font-weight: bold;
        }
      }
    }
    .col-3:nth-child(odd){
      .data{
        background-color: #b4aeaa;
      }
    }
  }
  .collap-default-head{
    padding: 15px 0;
  }
  .collap-default-body{
    margin-left: -12px;
    margin: -12px;
    ul li{
      padding: 10px 15px;
    }
  }
  &-footer{
    display: inline-block;
    width: 100%;
  }
}
.mi-plan-solicitar{
  .block-white{
    color: $color1;
    ul{
      padding-left: 15px;
      li{
        list-style-type: circle;
      }
    }
  }
  .collap-body{
    display: none;
    .collap-default-head{
      padding: 10px;
    }
    .collap-default-body{
      li{
        padding: 10px;
      }
    }
  }
}
.accordion-mi-plan-info{
  .collap-default-head{
    padding: 15px 15px 10px 15px;
  }
  .collap-default-body{
    padding: 0px;
  }
  ul{
    li{
      padding: 15px;
    }
  }
}
.mi-plan-form{
  .text-margin{
    margin-bottom: 15px;
    font-weight: 300;
  }
  .checkbox{
    margin: 20px 0 10px 0;
  }
}
.slide{
  .p-15{
    padding: 0;
  }
  .text-blue{
    font-size: 2em !important;
  }
}
.solicitar-plan{
  .mi-plan-title{
    margin: 15px 0;
  }
  a.text-gray{
    padding: 15px 0;
    border-bottom: 1px solid #999;
    @extend .dis-ib;
  }
}

.title-abosolute{
  background-color: $color1;
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 5px 0 2px 0;
  font-weight: 200;
}
.modal-screen{
  .slide-canales{
    margin: 15px 0 0 0;
  }
  .content-flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    .col-flex{
      height: 80px;
      width: 80px;
      margin-bottom: 15px;
      a{
        opacity: .6;
        &.selected{
          opacity: 1;
        }
      }
    }
  }
}
