.mi-cuenta{
  padding: 0 12px;
  .padd{
    padding: 3px;
  }
  .total{
    background: white;
    min-height: 128px;
  }
  .fijo{
    background: white;
  }
  .excedido{
    background: white;
  }
  .block-orange{
    color: #666;
    border: 1px solid $color3;
    background-color: white;
    font-size: 1.1em;
    padding: 15px;
    width: 100%;
    .text-orange{
      font-size: 2.5em;
      font-weight: bold;
    }
    .text-xs{
      font-size: .8em;
    }
    .center{
      padding-top: 35px;
    }
  }
  .block-blue{
    border: 1px solid $color1;
    background-color: white;
    color: $color1;
    padding: 5px;
    width: 100%;
    &.text-sm{
      font-size: .95em;
    }
  }
  .block-gray{
    border: 1px solid #888;
    background-color: white;
    color: #888;
    margin-bottom: 6px;
    padding: 5px;
    text-align: center;
    width: 100%;
    &.text-sm{
      font-size: .95em;
    }
  }
  .text-2{
    font-size: 1.1em;
    font-weight: bold;
  }
  .text-3{
    font-size: 1.4em;
    font-weight: bold;
  }
  .row{
    @extend .dis-ib;
  }
  &-footer{
    display: inline-block;
    margin: 25
    px 0;
    width: 100%;
  }
}
.mi-cuenta-summary{
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 15px;
  color: $color1;
  span{
    float: right;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -2px;
  }
}
.section-pay{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  a{
    margin: 4px 4px 0px 4px;
    width: 84px;
  }
}
.mi-cuenta-paid{
  .block-orange{
    padding: 5px;
    color: $color3;
  }
  .total{
    p{
      font-size: 1.2em;
      padding-top: 40px;
    }
  }
  .p-50{
    padding-top: 14px;
    padding-bottom: 13px;
  }
}
