.servicio-tabs{
  p{
    color: #333;
  }
  .block-white{
    background: white;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    ul{
      border-bottom: 0px solid;
      margin-top: 10px;
      padding-left: 15px;
      li{
        color: $color1;
        list-style-type: circle;
        text-align: left;
        width: 100%;
      }
    }
  }
  .text-blue{
    color: $color1;
  }
  .collap-table{
    p{
      margin-bottom: 15px;
    }
  }
  .table-striped{
    margin-top: 2px;
    margin-bottom: 15px;
    width: 100%;
    tr{
      &:nth-child(even){
        background-color: white;
      }
      th{
        background-color: $color1;
        color: white;
        font-weight: normal;
      }
      th, td{
        padding: 10px;
        border: none;
        font-weight: 300;
        &:first-child{
          text-align: left;
        }
        &:last-child{
          text-align: right;
        }
      }
      td{
        &:first-child{
          color: $color1;
        }
      }
    }
  }
  .block-text-xs{
    margin-bottom: 15px;
    p{
      color: #888;
      font-size: .8em;
    }
  }
  .orden-disable{
    margin: 60px 0;
    text-align: center;
  }
}
