.tiendas{
  &-title{
    color: $color1;
    text-align: center;
    font-weight: bold;
  }
  .block-form-group{
    margin: 15px 0;
    @extend .dis-ib;
    .form-group{
      padding-right: 10px;
    }
    .btn-blue{
      font-size: 1em;
    }
  }
  .table-th-white{
    .text-small{
      font-size: .7em;
    }
  }
  .carousel{
    .equipo{
      p{
        font-size: .88em !important;
      }
    }
  }
}
