.nav-top-block-title{
  span{
    color: $color3;
    font-style: italic;
  }
}
.zona{
  width:95%;
  padding:0px 2.5%;
  span{
    color: white;
    text-transform: initial;
  }
  .row{
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
  .col-7, .col-5, .col-4, .col-7x, .col-5x{
    box-sizing:border-box;
  }
  .col-7{
    width: 60.4%;
    padding:1%;
  }
  .col-5{
    width: 39.6%;
    padding:1%;
    a:first-child{
      margin-bottom: 7.5%;
    }
  }
  .col-7x{
    width: 54.4%;
    padding:1%;
    float: left;
    .boton{
      p{
        margin-top: -19%;
      }
    }

  }
  .col-5x{
    width: 45.6%;
    padding:1%;
    float: left;
    .boton{
      p{
        margin-top: -19%;
      }
    }
  }
  .col-4{
    padding:1%;
    width: 33.333%;
  }
  .entretencion{
    margin-top: -24px !important;
  }
  .boton{
    position: relative;
    display: block;
    width: 100%;
    box-sizing:border-box;
    img{
      max-width: 100%;
      margin:0px;
      display: block;
    }
    p{
      position:absolute;
      top: 50%;
      margin-top: -28%;
      width: 100%;
      text-align: center;
      color: #fff !important;
      font-size: 14px;
      font-style: italic;
      text-shadow:2px 2px 3px #4c4c4c;
      &.cardamono{
        bottom: 6px;
        top: initial;
      }
      img{
        margin:0px auto ;
        max-width: 40%;
        //&.w90{
        //  max-width: 90%;
        //}
      }
    }
  }
}
.zona1{
  h3{
    color: $color1;
    margin-bottom: 10px;
  }
  .caja-descuento-cine{
    height: 100px;
    border-bottom: 5px solid #FF6601;
    margin-bottom: 15px;
    padding-left:75px;
    position:relative;
    img{
      position:absolute;
      left:0px;
      top:0px;
    }
    .contenido{
      background-color: #fff;
      height: 100px;
      position:relative;
      padding-left:20px;
      padding-top:41px;
      box-sizing:border-box;
      &.list{
        padding-top: 10px;
        padding-left: 0;
        ul{
          list-style-type: none;
          li{
            color: $color1;
            font-style: italic;
            span{
              color: #999;
              display: block;
              margin-bottom: 2px;
              font-size: .9em;
            }
          }
        }
      }
      &:before{
        content: '';
        position:absolute;
        left: -18px;
        top:0px;
        display: block;
        width: 19px;
        height: 100px;
        background-image:url(../img/contraforma.png);
      }
      span{
        &.valor{
          position:absolute;
          right:10px;
          top: 10px;
          font-style: italic;
          font-weight: bold;
          font-size: 18px;
          color: $color1;
        }
        &.descuento{
          position:absolute;
          left:20px;
          top: 12px;
          font-style: italic;
          font-weight: light;
          font-size: 20px;
          color:$color1;
        }
      }
      p{
        font-style: italic;
        font-size: 14px;
        &.small{
          font-size: 11px;
        }
        span{
          color: $color4;
        }
      }
    }
  }
  //18.2
  .row{
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
  .cantidad-entradas{
    background-color:#fff;
    border:1px solid $color1;
    min-height: 55px;
    margin:15px 5px 25px;
    padding:5px;
    text-align: right;
    .radio{
      float: left;
    }
    .numero-entradas{
      display: block;
      width: 100%;
      float: left;
      line-height: 1;
      font-size: 42px;
      color: #d2d2d2;
      font-weight: bold;
    }
  }
  //18.4
  .pd45{
    padding:0px 45px;
  }
  .marcar{
    p{
      font-size: 15px;
      color: $color1;
      a{
        font-size: 20px;
        color: $color3;
      }
    }
  }
  .caja-descuento{
    height: 120px;
    margin-bottom: 15px;
    padding-left:88px;
    position:relative;
    img{
      position:absolute;
      left:0px;
      top:0px;
    }
    .contenido{
      background-color: #fff;
      height: 120px;
      position:relative;
      padding-left: 15px;
      padding-top: 51px;
      padding-right: 25px;
      box-sizing:border-box;
      &:before{
        content: '';
        position:absolute;
        left: -18px;
        top:0px;
        display: block;
        width: 19px;
        height: 120px;
        background-image:url(../img/contraforma2.png);
      }
      span{
        &.porcentaje{
          position:absolute;
          left: 15px;
          top: 12px;
          font-style: italic;
          font-weight: light;
          font-size: 20px;
          color:$color1;
        }
      }
      p{
        font-style: italic;
        font-size: 14px;
        line-height: 1.3;
        &.small{
          font-size: 11px;
        }
        span{
          color:$color4;
        }
      }
    }
  }
  .collap-default-body{
    li{
      color: #fff;
      padding: 10px 15px;
    }
  }
  //18.6.1
  .p-10{
    padding:10px;
  }
  .equipo{
    padding:5px;
    margin:5px 0px;
    p{
      text-align: center;
      font-size: .9em;
      padding:0px 5px;
    }
    a{
      display: block;
      width: 100%;
      background-color:$color1;
      color:#fff;
      text-align:center;
      margin-top: 10px;
      padding:5px 15px;
      box-sizing:border-box;
    }
  }
  .paginador{
    margin-top: 20px;
    .control{
      display: block;
      width: 24px;
      height: 24px;
      overflow: hidden;
      text-indent: 100px;
      &.next{
        float: right;
        background-image:url(../img/siguiente.png);
      }
      &.previus{

        background-image:url(../img/anterior.png);
      }
    }
    ul{
      list-style: none;
      padding:0px;
      text-align: center;
      li{
        display: inline-block;
        a{
          display: block;
          width:14px;
          height: 14px;
          border:1px solid #a8a8a8;
          border-radius:50%;
          margin:0px 10px;
          overflow: hidden;
          text-indent: 100px;
          &.active{
            background-color:#a8a8a8;
          }
        }
      }
    }
  }
  .mgbt-0{
    margin-bottom:0px;
  }
  .panel-gris{
    background-color:#DDDDDD;
    padding:15px;
    margin-bottom:20px;
    ul{
      margin-left:15px;
      font-style: italic;
      font-size: 14px;
    }
  }
}
